vegxschema/eml-party.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:res="eml://ecoinformatics.org/resource-2.0.1" xmlns:doc="eml://ecoinformatics.org/documentation-2.0.1" xmlns="eml://ecoinformatics.org/party-2.0.1" targetNamespace="eml://ecoinformatics.org/party-2.0.1">
	<xs:import namespace="eml://ecoinformatics.org/documentation-2.0.1" schemaLocation="eml-documentation.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/resource-2.0.1" schemaLocation="eml-resource.xsd"/>
	<xs:annotation>
		<xs:documentation>
       '$RCSfile: eml-party.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2003/11/06 20:15:21 $'
      '$Revision: 1.46 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="ResponsibleParty">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Responsible party</doc:tooltip>
				<doc:summary>The individual, organization, or role associated with a
        resource.</doc:summary>
			
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element name="individualName" type="Person">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Individual Name</doc:tooltip>
								<doc:summary>The full name of the person being
                described</doc:summary>
								
								
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="organizationName" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Organization name</doc:tooltip>
								<doc:summary>The full name of the organization being
                described</doc:summary>
																
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="positionName" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Position Name</doc:tooltip>
								<doc:summary>The name of the title or position associated with
                the resource.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="address" type="Address" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Contact address</doc:tooltip>
							<doc:summary>The full address information for a given responsible
              party entry.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="phone" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Phone</doc:tooltip>
							<doc:summary>Information about the contact's
              telephone</doc:summary>						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="phonetype" type="xs:string" use="optional" default="voice">
									<xs:annotation>
										<xs:appinfo>
											<doc:tooltip>Phone type</doc:tooltip>
											<doc:summary>The type of the phone to which this number
                      applies</doc:summary>
										</xs:appinfo>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="electronicMailAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Email address</doc:tooltip>
							<doc:summary>The email address of the contact.</doc:summary>
							</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="onlineUrl" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Online Link</doc:tooltip>
							<doc:summary>A link to associated online information, usually a
              web site.</doc:summary>
							</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="userId" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>User Identifier</doc:tooltip>
							<doc:summary>An identifier that links this party to a
              directory of personnel</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="directory" type="xs:string" use="required">
									<xs:annotation>
										<xs:appinfo>
											<doc:tooltip>Directory</doc:tooltip>
											<doc:summary>The directory system within which the
                      directoryId can be retrieved.</doc:summary>
										</xs:appinfo>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:group ref="res:ReferencesGroup"/>
		</xs:choice>
		<xs:attribute name="id" type="res:IDType" use="optional"/>
		<xs:attribute name="system" type="res:SystemType" use="optional"/>
		<xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Person</doc:tooltip>
				<doc:summary>The full name of the individual associated with the
        resource.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="salutation" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Salutation</doc:tooltip>
						<doc:summary>The salutation used to address an
            individual</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="givenName" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Given name</doc:tooltip>
						<doc:summary>The given name of the individual.</doc:summary>
						</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="surName" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Last name</doc:tooltip>
						<doc:summary>The last name of the individual.</doc:summary>
						</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Address">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Address</doc:tooltip>
				<doc:summary>The full address of the resposible party.</doc:summary>
				</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="deliveryPoint" type="xs:string" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Delivery point</doc:tooltip>
							<doc:summary>The location for postal deliveries.</doc:summary>
							</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="city" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>City</doc:tooltip>
							<doc:summary>The name of the city for the contact.</doc:summary>
							</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="administrativeArea" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Administrative area</doc:tooltip>
							<doc:summary>The political area of a country.</doc:summary>
							
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="postalCode" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Postal code</doc:tooltip>
							<doc:summary>The postal code used for routing to an
              address.</doc:summary>
							</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="country" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Country</doc:tooltip>
							<doc:summary>The name of the country for the contact's
              address.</doc:summary>
							</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:group ref="res:ReferencesGroup"/>
		</xs:choice>
		<xs:attribute name="id" type="res:IDType" use="optional"/>
		<xs:attribute name="system" type="res:SystemType" use="optional"/>
		<xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
	</xs:complexType>
	<xs:element name="party" type="ResponsibleParty">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Responsible party</doc:tooltip>
				<doc:summary>An individual, organization, or role.
        </doc:summary>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="RoleType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Role</doc:tooltip>
				<doc:summary>The classification of the associated person or
        organization.</doc:summary>
				</xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="contentProvider"/>
					<xs:enumeration value="custodianSteward"/>
					<xs:enumeration value="owner"/>
					<xs:enumeration value="user"/>
					<xs:enumeration value="distributor"/>
					<xs:enumeration value="metadataProvider"/>
					<xs:enumeration value="originator"/>
					<xs:enumeration value="pointOfContact"/>
					<xs:enumeration value="principalInvestigator"/>
					<xs:enumeration value="processor"/>
					<xs:enumeration value="publisher"/>
					<xs:enumeration value="author"/>
					<xs:enumeration value="editor"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
</xs:schema>
