vegxschema/eml-coverage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cit="eml://ecoinformatics.org/literature-2.0.1" xmlns:rp="eml://ecoinformatics.org/party-2.0.1" xmlns:doc="eml://ecoinformatics.org/documentation-2.0.1" xmlns:res="eml://ecoinformatics.org/resource-2.0.1" xmlns="eml://ecoinformatics.org/coverage-2.0.1" targetNamespace="eml://ecoinformatics.org/coverage-2.0.1">
	<xs:import namespace="eml://ecoinformatics.org/literature-2.0.1" schemaLocation="eml-literature.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/documentation-2.0.1" schemaLocation="eml-documentation.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/party-2.0.1" schemaLocation="eml-party.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/resource-2.0.1" schemaLocation="eml-resource.xsd"/>
	<xs:annotation>
		<xs:documentation>
               '$RCSfile: eml-coverage.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2003/11/06 20:15:20 $'
      '$Revision: 1.77 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="Coverage">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Coverage</doc:tooltip>
				<doc:summary>
          Spatial, temporal, and taxonomic coverage information.
        </doc:summary>
				</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="geographicCoverage" type="GeographicCoverage">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Geographic coverage</doc:tooltip>
							<doc:summary>Geographic coverage information.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="temporalCoverage">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Temporal coverage</doc:tooltip>
							<doc:summary>Temporal coverage information.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="TemporalCoverage">
								<xs:attribute name="system" type="res:SystemType" use="optional"/>
								<xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="taxonomicCoverage">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Taxonomic coverage</doc:tooltip>
							<doc:summary>Taxonomic coverage information.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="TaxonomicCoverage">
								<xs:attribute name="system" type="res:SystemType" use="optional"/>
								<xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:group ref="res:ReferencesGroup"/>
		</xs:choice>
		<xs:attribute name="id" type="res:IDType" use="optional"/>
		<xs:attribute name="system" type="res:SystemType" use="optional"/>
		<xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
	</xs:complexType>
	<xs:complexType name="TemporalCoverage">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Temporal coverage</doc:tooltip>
				<doc:summary>Temporal coverage information.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:choice>
				<xs:element name="singleDateTime" type="SingleDateTimeType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Single Date/Time</doc:tooltip>
							<doc:summary>Means of encoding a single date and
              time</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="rangeOfDates">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Range of dates/times</doc:tooltip>
							<doc:summary>Means of encoding a range of dates and
        times.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="beginDate" type="SingleDateTimeType">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Begin Date</doc:tooltip>
										<doc:summary>A single time stamp signifying the beginning of
              some time period</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="endDate" type="SingleDateTimeType">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>End Date</doc:tooltip>
										<doc:summary>A single time stamp signifying the end of
              some time period</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:group ref="res:ReferencesGroup"/>
		</xs:choice>
		<xs:attribute name="id" type="res:IDType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="SingleDateTimeType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Single Date/Time</doc:tooltip>
				<doc:summary>Means of encoding a single date and time</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="calendarDate" type="res:yearDate">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Calendar date</doc:tooltip>
							<doc:summary>The calendar date for an event.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="time" type="xs:time" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Time of day</doc:tooltip>
							<doc:summary>The time of day for an event.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="alternativeTimeScale">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Alternative Time Scale</doc:tooltip>
						<doc:summary>A name, code, or date describing an event or period
            in an alternative time scale, such as one of the geologic time
            scales.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="timeScaleName" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<doc:tooltip>alternative time scale</doc:tooltip>
									<doc:summary>Name of a recognized alternative time
                  scale.</doc:summary>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="timeScaleAgeEstimate" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<doc:tooltip>Time scale age estimate</doc:tooltip>
									<doc:summary/>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="timeScaleAgeUncertainty" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<doc:tooltip>Time scale age uncertainty</doc:tooltip>
									<doc:summary>The error estimate for the alternative time
                  scale.</doc:summary>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="timeScaleAgeExplanation" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<doc:tooltip>Time scale age explanation</doc:tooltip>
									<doc:summary>The name and/or description of the method used to
                  calculate the time scale age estimate.</doc:summary>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="timeScaleCitation" type="cit:CitationType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<doc:tooltip>Time Scale citation</doc:tooltip>
									<doc:summary>Citation for works providing detailed information
                  about any element of the time scale age.</doc:summary>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GeographicCoverage">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Geographic coverage</doc:tooltip>
				<doc:summary>Geographic coverage information.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="geographicDescription" type="xs:string">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Description of geographic extent</doc:tooltip>
							<doc:summary>Short description of the geographic areal domain of
              the data set.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="boundingCoordinates">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Bounding coordinates</doc:tooltip>
							<doc:summary>The 4 points (latitude and longitude pairs) that
              define a bounding box on the earth's surface. To define a single
              point, use the same point in both lat/lon pairs.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="westBoundingCoordinate" type="xs:string">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>West bounding coordinate</doc:tooltip>
										<doc:summary>Western-most coordinate of the limit of
                    coverage for a bounding box, expressed in degrees of
                    longitude.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="eastBoundingCoordinate" type="xs:string">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>East bounding coordinate</doc:tooltip>
										<doc:summary>Eastern-most coordinate of the limit of
                    coverage of a bounding box, expressed in degrees of
                    longitude.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="northBoundingCoordinate" type="xs:string">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>North bounding coordinate</doc:tooltip>
										<doc:summary>Northern-most coordinate of the limit of
                    coverage expressed in latitude.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="southBoundingCoordinate" type="xs:string">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>South bounding coordinate</doc:tooltip>
										<doc:summary>Southern-most coordinate of the limit of
                    coverage expressed in latitude.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="boundingAltitudes" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Bounding altitudes</doc:tooltip>
										<doc:summary>The limits of coverage of a data set expressed
                    by altitude.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="altitudeMinimum" type="xs:string">
											<xs:annotation>
												<xs:appinfo>
													<doc:tooltip>Minimum altitude</doc:tooltip>
													<doc:summary>The minimum altitude extent of
                          coverage.</doc:summary>
												
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="altitudeMaximum" type="xs:string">
											<xs:annotation>
												<xs:appinfo>
													<doc:tooltip>Maximum altitude</doc:tooltip>
													<doc:summary>The maximum altitude extent of
                          coverage.</doc:summary>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="altitudeUnits" type="xs:string">
											<xs:annotation>
												<xs:appinfo>
													<doc:tooltip>Units of altitude</doc:tooltip>
													<doc:summary>Units in which altitude is
                          measured.</doc:summary>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="datasetGPolygon" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Polygon data set</doc:tooltip>
							<doc:summary>This construct creates a spatial ring with a
              hollow center.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="datasetGPolygonOuterGRing">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Outer polygon</doc:tooltip>
										<doc:summary>
                      The outer containment loop of a datasetGPolygon.
                    </doc:summary>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:sequence>
											<xs:element name="gRingPoint" type="GRingPointType" minOccurs="3" maxOccurs="unbounded"/>
										</xs:sequence>
										<xs:element name="gRing" type="GRingPointType"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="datasetGPolygonExclusionGRing" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Exclusion polygon</doc:tooltip>
										<doc:summary>
                    Data Set G-Polygon Exclusion G-Ring, the
                    closed nonintersecting boundary of a void area (or hole in
                    an interior area).
                    </doc:summary>
                    </xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="gRingPoint" type="GRingPointType" maxOccurs="unbounded"/>
										<xs:element name="gRing" type="GRingPointType"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:group ref="res:ReferencesGroup"/>
		</xs:choice>
		<xs:attribute name="id" type="res:IDType" use="optional"/>
		<xs:attribute name="system" type="res:SystemType" use="optional"/>
		<xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
	</xs:complexType>
	<xs:complexType name="GRingPointType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>G-Ring point</doc:tooltip>
				<doc:summary>
        A single geographic location.
        </doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="gRingLatitude" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>G-Ring Latitude</doc:tooltip>
						<doc:summary/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="gRingLongitude" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>G-Ring Longitude</doc:tooltip>
						<doc:summary/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GRingType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>G-Ring</doc:tooltip>
				<doc:summary/>
			</xs:appinfo>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="TaxonomicCoverage">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Taxonomic coverage</doc:tooltip>
				<doc:summary>Taxonomic coverage information.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="taxonomicSystem" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Taxonomic system</doc:tooltip>
							<doc:summary>Documentation of taxonomic sources, procedures, and
              treatments.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="classificationSystem" maxOccurs="unbounded">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Classification system/authority</doc:tooltip>
										<doc:summary>Information about the classification system or
                    authority used.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="classificationSystemCitation" type="cit:CitationType">
											<xs:annotation>
												<xs:appinfo>
													<doc:tooltip>Taxonomic citation</doc:tooltip>
													<doc:summary/>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="classificationSystemModifications" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<doc:tooltip>Classification system
                          modification</doc:tooltip>
													<doc:summary/>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="identificationReference" type="cit:CitationType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Non-authoritative citation</doc:tooltip>
										<doc:summary/>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="identifierName" type="rp:ResponsibleParty" maxOccurs="unbounded">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Identifier's Name</doc:tooltip>
										<doc:summary/>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="taxonomicProcedures" type="xs:string">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Taxonomic procedures</doc:tooltip>
										<doc:summary/>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="taxonomicCompleteness" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Taxonomic completeness</doc:tooltip>
										<doc:summary/>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="vouchers" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Specimen information</doc:tooltip>
										<doc:summary/>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="specimen" type="xs:string">
											<xs:annotation>
												<xs:appinfo>
													<doc:tooltip>Specimen type</doc:tooltip>
													<doc:summary/>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="repository">
											<xs:annotation>
												<xs:appinfo>
													<doc:tooltip>Storage location of
                          specimen</doc:tooltip>
													<doc:summary/>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="originator" type="rp:ResponsibleParty" maxOccurs="unbounded">
														<xs:annotation>
															<xs:appinfo>
																<doc:tooltip>Originator</doc:tooltip>
																<doc:summary>A person or organization asociated
                                with this resource.</doc:summary>
															</xs:appinfo>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="generalTaxonomicCoverage" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>General taxonomic coverage</doc:tooltip>
							<doc:summary>A description of the range of taxa addressed in the
              data set or collection.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="taxonomicClassification" type="TaxonomicClassificationType" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:group ref="res:ReferencesGroup"/>
		</xs:choice>
		<xs:attribute name="id" type="res:IDType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="TaxonomicClassificationType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Taxonomic classification</doc:tooltip>
				<doc:summary>Information about the range of taxa addressed in the data
        set or collection.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="taxonRankName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Taxon rank name</doc:tooltip>
						<doc:summary>The name of the taxonomic rank for which the Taxon
            rank value is provided.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxonRankValue" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Taxon rank value</doc:tooltip>
						<doc:summary>The name representing the taxonomic rank of the
            taxon being described.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="commonName" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Common name</doc:tooltip>
						<doc:summary>Specification of applicable common
            names.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxonomicClassification" type="TaxonomicClassificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
