vegxschema/eml-literature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="eml://ecoinformatics.org/documentation-2.0.1" xmlns:rp="eml://ecoinformatics.org/party-2.0.1" xmlns:cov="eml://ecoinformatics.org/coverage-2.0.1" xmlns:res="eml://ecoinformatics.org/resource-2.0.1" xmlns:acc="eml://ecoinformatics.org/access-2.0.1" xmlns:proj="eml://ecoinformatics.org/project-2.0.1" xmlns="eml://ecoinformatics.org/literature-2.0.1" targetNamespace="eml://ecoinformatics.org/literature-2.0.1">
	<xs:import namespace="eml://ecoinformatics.org/documentation-2.0.1" schemaLocation="eml-documentation.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/resource-2.0.1" schemaLocation="eml-resource.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/coverage-2.0.1" schemaLocation="eml-coverage.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/party-2.0.1" schemaLocation="eml-party.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/access-2.0.1" schemaLocation="eml-access.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/project-2.0.1" schemaLocation="eml-project.xsd"/>
	<xs:annotation>
		<xs:documentation>
      '$RCSfile: eml-literature.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2003/11/06 20:15:20 $'
      '$Revision: 1.51 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="citation" type="CitationType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Literature Citation</doc:tooltip>
				<doc:summary>Information describing a literature
        resource.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CitationType">
		<xs:choice>
			<xs:sequence>
				<xs:group ref="res:ResourceGroup"/>
				<xs:choice>
					<xs:element name="article" type="Article">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>article</doc:tooltip>
								<doc:summary>Information for full citation of a journal article
                or other periodical article.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="book" type="Book">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Book</doc:tooltip>
								<doc:summary>Information for full citation of a
                book</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="chapter" type="Chapter">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Book Chapter</doc:tooltip>
								<doc:summary>Information for citation of a chapter in a
                book</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="editedBook" type="Book">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Book</doc:tooltip>
								<doc:summary>Information for full citation of an edited
                book</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="manuscript" type="Manuscript">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>unpublished manuscipt</doc:tooltip>
								<doc:summary>Information about an unpublished
                manuscript</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="report" type="Report">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Report</doc:tooltip>
								<doc:summary>Information about a report published by an
                institution.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="thesis" type="Thesis">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Thesis as part of a degree</doc:tooltip>
								<doc:summary>Information about a thesis that has been written
                as part of a degree requirement and is frequently published in
                small numbers by the degree awarding institution.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="conferenceProceedings" type="ConferenceProceedings">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>conference proceedings</doc:tooltip>
								<doc:summary>The published notes, papers, presentations etc...
                of a conference.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="personalCommunication" type="PersonalCommunication">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Personal communication</doc:tooltip>
								<doc:summary>A personal communication that has been saved
                online or as hard-copy.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="map" type="Map">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>map</doc:tooltip>
								<doc:summary>This element desribes the map that is being cited
                or cataloged.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="generic" type="Generic">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Generic Citation</doc:tooltip>
								<doc:summary>This reference type was created for references
                that do not fit in to the other existing reference
                types</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="audioVisual" type="AudioVisual">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>audio visual</doc:tooltip>
								<doc:summary>This reference type is meant to cover all forms of
                audio and visual media.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="presentation" type="Presentation">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Unpublished Presentation</doc:tooltip>
								<doc:summary>An unpublished presentation from a conference,
                workshop, workgroup, symposium etc.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="access" type="acc:AccessType" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>access control rules</doc:tooltip>
							<doc:summary>The access element describes the access control
              rules for this literature resource.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:group ref="res:ReferencesGroup"/>
		</xs:choice>
		<xs:attribute name="id" type="res:IDType" use="optional"/>
		<xs:attribute name="system" type="res:SystemType" use="optional"/>
		<xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
	</xs:complexType>
	<xs:complexType name="Article">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>article</doc:tooltip>
				<doc:summary>Information for full citation of a journal article or
        other periodical article.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="journal" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Journal Name</doc:tooltip>
						<doc:summary>The name of the journal, magazine, newspaper, zine,
            etc... in which the article was published.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="volume" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Journal Volume</doc:tooltip>
						<doc:summary>The volume of the journal in which the article
            appears</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="issue" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Journal issue</doc:tooltip>
						<doc:summary>The issue of the journal in which the article
            appears</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pageRange" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Journal Pages</doc:tooltip>
						<doc:summary>The beginning and end page numbers of the journal
            article</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="publisher" type="rp:ResponsibleParty" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publisher</doc:tooltip>
						<doc:summary>Organization that actually publishes the
            article</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationPlace" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publication Place</doc:tooltip>
						<doc:summary>The location at which the work was
            published.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISSN" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>International Standard Serial Number</doc:tooltip>
						<doc:summary>The unique Internation Standard Serial
            Number</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Book">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Book</doc:tooltip>
				<doc:summary>Information for full citation of a book</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="publisher" type="rp:ResponsibleParty">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publisher</doc:tooltip>
						<doc:summary>Organization that actually publishes the
            book</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationPlace" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publication Place</doc:tooltip>
						<doc:summary>The location at which the work was
            published.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="edition" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Book edition</doc:tooltip>
						<doc:summary>The edition of the book being described.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="volume" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Book volume</doc:tooltip>
						<doc:summary>The volume of the book that is part of a
            series.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberOfVolumes" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Number of Volumes</doc:tooltip>
						<doc:summary>Number of volumes in a collection</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalPages" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Total book pages</doc:tooltip>
						<doc:summary>The total number of pages in the book.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalFigures" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Number of figures in book</doc:tooltip>
						<doc:summary>The total number of figures in the book.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalTables" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Number of tables in book</doc:tooltip>
						<doc:summary>The total number of tables in a book.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISBN" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>International Standard Book Number</doc:tooltip>
						<doc:summary>The unique Internation Standard Book
            Number</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Chapter">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Book Chapter</doc:tooltip>
				<doc:summary>Information for citation of a chapter in a
        book</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Book">
				<xs:sequence>
					<xs:element name="chapterNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Chapter number</doc:tooltip>
								<doc:summary>The chapter number of interest within a
                book</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="editor" type="rp:ResponsibleParty" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Book editor</doc:tooltip>
								<doc:summary>The name of the editor of the book.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="bookTitle" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Book title</doc:tooltip>
								<doc:summary>The title of the book.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="pageRange" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Chapter page range</doc:tooltip>
								<doc:summary>The beginning and ending page numbers of a
                chapter.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConferenceProceedings">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>conference proceedings</doc:tooltip>
				<doc:summary>The published notes, papers, presentations etc... of a
        conference.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Chapter">
				<xs:sequence>
					<xs:element name="conferenceName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Conference Name</doc:tooltip>
								<doc:summary>The name of the conference whose proceedings have
                been published.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="conferenceDate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Conference Date</doc:tooltip>
								<doc:summary>The date the conference was held.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="conferenceLocation" type="rp:Address" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<doc:tooltip>Conference Location</doc:tooltip>
								<doc:summary>The location where the conference was
                held.</doc:summary>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Manuscript">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>unpublished manuscipt</doc:tooltip>
				<doc:summary>Information about an unpublished manuscript</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="institution" type="rp:ResponsibleParty" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Manuscript publication information</doc:tooltip>
						<doc:summary>The address and contact information needed to request
            a manuscript.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalPages" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Total manuscript pages</doc:tooltip>
						<doc:summary>The total number of pages in the
            manuscript.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Report">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Report</doc:tooltip>
				<doc:summary>Information about a report published by an
        institution.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="reportNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Report Number</doc:tooltip>
						<doc:summary>The unique identification number assigned to the
            report.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="publisher" type="rp:ResponsibleParty" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publisher</doc:tooltip>
						<doc:summary>Organization that actually publishes the
            report</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationPlace" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publication Place</doc:tooltip>
						<doc:summary>The location at which the work was
            published.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalPages" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Total report pages</doc:tooltip>
						<doc:summary>The total number of pages in the report.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonalCommunication">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Personal communication</doc:tooltip>
				<doc:summary>A personal communication that has been saved online or as
        hard-copy.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="publisher" type="rp:ResponsibleParty" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publisher</doc:tooltip>
						<doc:summary>Organization that actually publishes the
            communication</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationPlace" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publication Place</doc:tooltip>
						<doc:summary>The location at which the work was
            published.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="communicationType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Type of communication</doc:tooltip>
						<doc:summary>The type of personal communication.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="recipient" type="rp:ResponsibleParty" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Recipient</doc:tooltip>
						<doc:summary>Recipient of the communication</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Map">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>map</doc:tooltip>
				<doc:summary>This element desribes the map that is being cited or
        cataloged.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="publisher" type="rp:ResponsibleParty" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publisher</doc:tooltip>
						<doc:summary>Organization that actually publishes the
            map</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="edition" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Map edition</doc:tooltip>
						<doc:summary>The edition of the map being described.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="geographicCoverage" type="cov:GeographicCoverage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Geographic coverage</doc:tooltip>
						<doc:summary>Description of the geographic area which the map
            covers</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="scale" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Scale</doc:tooltip>
						<doc:summary>The Map's scale</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AudioVisual">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>audio visual</doc:tooltip>
				<doc:summary>This reference type is meant to cover all forms of audio
        and visual media.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="publisher" type="rp:ResponsibleParty">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publisher</doc:tooltip>
						<doc:summary>Organization which actually distributes the video,
            film, the broadcaster etc...</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationPlace" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publication Place</doc:tooltip>
						<doc:summary>The location at which the work was
            published.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="performer" type="rp:ResponsibleParty" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Performer</doc:tooltip>
						<doc:summary>The performers in the audio visual
            production</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISBN" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>International Standard Book Number</doc:tooltip>
						<doc:summary>The unique Internation Standard Book
            Number</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Generic">
		<xs:sequence>
			<xs:element name="publisher" type="rp:ResponsibleParty">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publisher</doc:tooltip>
						<doc:summary>Organization which actually publishes the
            reference</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationPlace" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publication Place</doc:tooltip>
						<doc:summary>The location at which the work was
            published.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Reference Type</doc:tooltip>
						<doc:summary>The type of reference.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="volume" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Reference volume</doc:tooltip>
						<doc:summary>The volume of the reference that is part of a
            series.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberOfVolumes" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Number of Volumes</doc:tooltip>
						<doc:summary>Number of volumes in a collection</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalPages" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Total reference pages</doc:tooltip>
						<doc:summary>The total number of pages in the
            references.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalFigures" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Number of figures in reference</doc:tooltip>
						<doc:summary>The total number of figures in the
            reference.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalTables" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Number of tables in reference</doc:tooltip>
						<doc:summary>The total number of tables in a
            reference.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="edition" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>edition</doc:tooltip>
						<doc:summary>The edition of the generic reference being
            described.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="originalPublication" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Original Publication</doc:tooltip>
						<doc:summary>References current publication to its
            original.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="reprintEdition" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Reprint Edition</doc:tooltip>
						<doc:summary>Reference for current edition that was originally
            published under a different title.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="reviewedItem" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Reviewed Item</doc:tooltip>
						<doc:summary>Reference types that are reviews of other
            references.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="ISBN" type="xs:string">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>International Standard Book Number</doc:tooltip>
							<doc:summary>The unique Internation Standard Book
              Number</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="ISSN" type="xs:string">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>International Standard Serial Number</doc:tooltip>
							<doc:summary>The unique Internation Standard Serial
              Number</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Thesis">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Thesis as part of a degree</doc:tooltip>
				<doc:summary>Information about a thesis that has been written as part
        of a degree requirement and is frequently published in small numbers by
        the degree awarding institution.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="degree" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Degee name</doc:tooltip>
						<doc:summary>The name or degree level for which the thesis was
            completed.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="institution" type="rp:ResponsibleParty">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Degree awarding institution</doc:tooltip>
						<doc:summary>The name of the degree-awarding
            institution</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalPages" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Thesis Pages</doc:tooltip>
						<doc:summary>The total number of pages in the thesis.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Presentation">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Unpublished Presentation</doc:tooltip>
				<doc:summary>An unpublished presentation from a conference, workshop,
        workgroup, symposium, etc.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="conferenceName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Conference Name</doc:tooltip>
						<doc:summary>The name of the conference at which this presentation
            was given.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="conferenceDate" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Conference Date</doc:tooltip>
						<doc:summary>The date the conference was held.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="conferenceLocation" type="rp:Address" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Conference Location</doc:tooltip>
						<doc:summary>The location where the conference was
            held.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
