vegxschema/eml-resource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by Adrienne Phillips (Landcare Research) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="eml://ecoinformatics.org/documentation-2.0.1" xmlns:txt="eml://ecoinformatics.org/text-2.0.1" xmlns:rp="eml://ecoinformatics.org/party-2.0.1" xmlns:cov="eml://ecoinformatics.org/coverage-2.0.1" xmlns="eml://ecoinformatics.org/resource-2.0.1" targetNamespace="eml://ecoinformatics.org/resource-2.0.1">
	<xs:import namespace="eml://ecoinformatics.org/documentation-2.0.1" schemaLocation="eml-documentation.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/party-2.0.1" schemaLocation="eml-party.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/coverage-2.0.1" schemaLocation="eml-coverage.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/text-2.0.1" schemaLocation="eml-text.xsd"/>
	<xs:annotation>
		<xs:documentation>
       '$RCSfile: eml-resource.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2003/11/06 20:15:21 $'
      '$Revision: 1.78 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:group name="ResourceGroup">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Resource Base</doc:tooltip>
				<doc:summary>Generic information about any resource that is being
        described.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="alternateIdentifier" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Alternate Identifier</doc:tooltip>
						<doc:summary>A secondary identifier for this entity</doc:summary>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="system" type="SystemType" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="shortName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Short Name</doc:tooltip>
						<doc:summary>A short name that describes the resource, sometimes a
            filename.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Title</doc:tooltip>
						<doc:summary>A brief description of the resource, providing enough
            detail to differentiate it from other similar
            resources.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="creator" type="rp:ResponsibleParty" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Creator</doc:tooltip>
						<doc:summary>The people or organizations who created this
            resource.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="metadataProvider" type="rp:ResponsibleParty" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Metadata Provider</doc:tooltip>
						<doc:summary>The people or organizations who created provided
            documentation and other metadata for this resource.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="associatedParty" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Associated Party</doc:tooltip>
						<doc:summary>Other people or organizations who should be associated
            with this resource.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="rp:ResponsibleParty">
							<xs:sequence>
								<xs:element name="role" type="rp:RoleType">
									<xs:annotation>
										<xs:appinfo>
											<doc:tooltip>Role</doc:tooltip>
											<doc:summary>The role the party played with respect to
                      the resource.</doc:summary>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="pubDate" type="yearDate" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Publication date</doc:tooltip>
						<doc:summary>The publication date of the resource.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Language</doc:tooltip>
						<doc:summary>The language in which the resource is
            written.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="series" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Series</doc:tooltip>
						<doc:summary>The series from which the resource came.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="abstract" type="txt:TextType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Abstract</doc:tooltip>
						<doc:summary>A brief overview of the resource.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="keywordSet" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Keyword information</doc:tooltip>
						<doc:summary>Keyword information that describes the
            resource.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="keyword" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<doc:tooltip>Keyword</doc:tooltip>
									<doc:summary>A single keyword that describes the
                  resource.</doc:summary>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="keywordType" type="KeyTypeCode" use="optional">
											<xs:annotation>
												<xs:appinfo>
													<doc:tooltip>Keyword type</doc:tooltip>
													<doc:summary>The type of each keyword.</doc:summary>
												</xs:appinfo>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="keywordThesaurus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<doc:tooltip>Keyword thesaurus</doc:tooltip>
									<doc:summary>The name of a thesaurus from which the keyword
                  is derived.</doc:summary>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="additionalInfo" type="txt:TextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Additional Information</doc:tooltip>
						<doc:summary>Any extra information pertitent to the
            resource.</doc:summary>
						</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="intellectualRights" type="txt:TextType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Intellectual Property Rights</doc:tooltip>
						<doc:summary>Intellectual property rights regarding usage and
            licensing of this resource.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="distribution" type="DistributionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Distribution Information</doc:tooltip>
						<doc:summary>Information on how the resource is distributed online
            and offline</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="coverage" type="cov:Coverage" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Resource coverage</doc:tooltip>
						<doc:summary>Extent of the coverage of the resource.</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="KeyTypeCode">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Keyword type codes</doc:tooltip>
				<doc:summary>The list of keyword categories</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="place">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Place Keywords</doc:tooltip>
						<doc:summary>Keywords pertaining to a spatial location</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="stratum">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Stratum Keywords</doc:tooltip>
						<doc:summary>Keywords pertaining to a vertical stratum</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="temporal">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Temporal Keywords</doc:tooltip>
						<doc:summary>Keywords pertaining to temporal data</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="theme">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Thematic Keywords</doc:tooltip>
						<doc:summary>Keywords pertaining to thematic subject</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="taxonomic">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>Taxonomic Keywords</doc:tooltip>
						<doc:summary>Keywords pertaining to taxon information</doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yearDate">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Year or Date</doc:tooltip>
				<doc:summary>A type allowing a year or date value</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:union memberTypes="xs:gYear xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="IDType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Identifer</doc:tooltip>
				<doc:summary>A unique identifier for this additional
        metadata that can be used to reference it elsewhere.
        </doc:summary>
			</xs:appinfo>
			<xs:documentation>Unique identifier (key) of the element.  It can be unique locally to the data set for a given data element type (e.g., plots) or a GUID in which case it can be resolved to a location on the internet where the record is stored. This identifier is used elsewhere in a dataset instance to reference this specific element when it is referred to in a repeatable way by other part of the schema. For example, a single plot entity may be the basis for numerous measurements of different types (e.g., plot observation and aggregated organism observation). Therefore the plot entity is stored in a single location within schema and referenced by this identifier rather than repeating this information throughout the dataset instance. The identifier may have a specific system and scope.</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SystemType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Identifer System</doc:tooltip>
				<doc:summary>The data management system within which an
        identifier is in scope and therefore unique.
        </doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:list itemType="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ScopeType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Identifer Scope</doc:tooltip>
				<doc:summary>The scope of the identifier.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="system"/>
			<xs:enumeration value="document"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FunctionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="download"/>
			<xs:enumeration value="information"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DistributionType">
		<xs:choice>
			<xs:choice>
				<xs:element name="online">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Online Distribution Information</doc:tooltip>
							<doc:summary>Distribution information for accessing the
              resource online.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="url">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Download site URL</doc:tooltip>
										<doc:summary>A URL (Uniform Resource Locator) from which
                    this resource can be downloaded or information can be
                    obtained about downloading it.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:anyURI">
											<xs:attribute name="function" type="FunctionType" use="optional" default="download"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="connection">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Connection</doc:tooltip>
										<doc:summary>A description of the information needed
                    to make an application connection to a data service.
                    </doc:summary>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:sequence>
											<xs:element name="connectionDefinition" type="ConnectionDefinitionType">
												<xs:annotation>
													<xs:appinfo>
														<doc:tooltip>Connection Definition</doc:tooltip>
														<doc:summary>Definition of the connection protocol
                            to be used for this connection.</doc:summary>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											<xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:appinfo>
														<doc:tooltip>Parameter</doc:tooltip>
														<doc:summary>A parameter to be used to make this
                            connection.</doc:summary>
													</xs:appinfo>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="name" type="xs:string">
															<xs:annotation>
																<xs:appinfo>
																	<doc:tooltip>Parameter Name</doc:tooltip>
																	<doc:summary>Name of the parameter to be
                                  used to make this connection.</doc:summary>
																</xs:appinfo>
															</xs:annotation>
														</xs:element>
														<xs:element name="value" type="xs:string">
															<xs:annotation>
																<xs:appinfo>
																	<doc:tooltip>Parameter Value</doc:tooltip>
																	<doc:summary>The value of the parameter to
                                  be used to make this connection.
                                  </doc:summary>
																</xs:appinfo>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:group ref="ReferencesGroup"/>
									</xs:choice>
									<xs:attribute name="id" type="IDType" use="optional"/>
									<xs:attribute name="system" type="SystemType" use="optional"/>
									<xs:attribute name="scope" type="ScopeType" use="optional" default="document"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="connectionDefinition" type="ConnectionDefinitionType">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Connection Definition</doc:tooltip>
										<doc:summary>The definition of a type of connection
                    that will be used in another location in the EML
                    document.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="offline">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>medium of the resource</doc:tooltip>
							<doc:summary>the medium on which this resource is distributed,
              either digitally or as hardcopy</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="mediumName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Medium name</doc:tooltip>
										<doc:summary>Name of the medium that for this resource
                    distribution</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="mediumDensity" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>density of the digital medium</doc:tooltip>
										<doc:summary>the density of the digital medium if this is
                    relevant.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="mediumDensityUnits" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>units of a numerical density</doc:tooltip>
										<doc:summary>a numerical density's units</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="mediumVolume" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>storage volume</doc:tooltip>
										<doc:summary>total volume of the storage
                    medium</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="mediumFormat" type="xs:string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>medium format</doc:tooltip>
										<doc:summary>format of the medium on which the resource is
                    shipped.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="mediumNote" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>note about the media</doc:tooltip>
										<doc:summary>note about the media</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="inline" type="InlineType"/>
			</xs:choice>
			<xs:group ref="ReferencesGroup"/>
		</xs:choice>
		<xs:attribute name="id" type="IDType" use="optional"/>
		<xs:attribute name="system" type="SystemType" use="optional"/>
		<xs:attribute name="scope" type="ScopeType" use="optional" default="document"/>
	</xs:complexType>
	<xs:complexType name="ConnectionDefinitionType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Connection Definition</doc:tooltip>
				<doc:summary>The definition of a type of connection
        that will be used in another location in the EML
        document.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="schemeName">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Scheme Name</doc:tooltip>
							<doc:summary>The name of the scheme used to identify this
              connection.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="system" type="SystemType" use="optional">
									<xs:annotation>
										<xs:appinfo>
											<doc:tooltip>Scheme System</doc:tooltip>
											<doc:summary>The system in which this scheme name is
                      relevant</doc:summary>
										</xs:appinfo>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="description" type="txt:TextType">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Scheme Description</doc:tooltip>
							<doc:summary>The description of the scheme used to identify this
              connection.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="parameterDefinition" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Parameter Definition</doc:tooltip>
							<doc:summary>The definition of a parameter that is needed to
              properly use this connection scheme.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Parameter Name</doc:tooltip>
										<doc:summary>The Name of a parameter that is needed to
                    properly use this connection scheme.</doc:summary>
								
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="definition" type="xs:string">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Parameter Definition</doc:tooltip>
										<doc:summary>The definition of a parameter that is needed
                    to properly use this connection scheme.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="defaultValue" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Default Parameter Value</doc:tooltip>
										<doc:summary>The default value for a parameter that is
                    needed to properly use this connection scheme.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:group ref="ReferencesGroup"/>
		</xs:choice>
		<xs:attribute name="id" type="IDType" use="optional"/>
		<xs:attribute name="system" type="SystemType" use="optional"/>
		<xs:attribute name="scope" type="ScopeType" use="optional" default="document"/>
	</xs:complexType>
	<xs:group name="ReferencesGroup">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>References Group</doc:tooltip>
				<doc:summary>A group of elements repeatedly used throughout EML
        to reference IDs.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="references" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<doc:tooltip>References</doc:tooltip>
						<doc:summary>The id of another element in this
            EML document to be used to here in this context.
            </doc:summary>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="InlineType" mixed="true">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Inline distribution</doc:tooltip>
				<doc:summary>Object data distributed inline in the metadata.
              </doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
