vegxschema/eml-project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="eml://ecoinformatics.org/documentation-2.0.1" xmlns:txt="eml://ecoinformatics.org/text-2.0.1" xmlns:prot="eml://ecoinformatics.org/protocol-2.0.1" xmlns:rp="eml://ecoinformatics.org/party-2.0.1" xmlns:cov="eml://ecoinformatics.org/coverage-2.0.1" xmlns:cit="eml://ecoinformatics.org/literature-2.0.1" xmlns:res="eml://ecoinformatics.org/resource-2.0.1" xmlns="eml://ecoinformatics.org/project-2.0.1" targetNamespace="eml://ecoinformatics.org/project-2.0.1">
	<xs:import namespace="eml://ecoinformatics.org/documentation-2.0.1" schemaLocation="eml-documentation.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/resource-2.0.1" schemaLocation="eml-resource.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/party-2.0.1" schemaLocation="eml-party.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/coverage-2.0.1" schemaLocation="eml-coverage.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/literature-2.0.1" schemaLocation="eml-literature.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/text-2.0.1" schemaLocation="eml-text.xsd"/>
	<xs:annotation>
		<xs:documentation>'$RCSfile: eml-project.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2003/11/06 20:15:21 $'
      '$Revision: 1.77 $'
    </xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="researchProject" type="ResearchProjectType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>research project</doc:tooltip>
				<doc:summary>The root element of this module.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ResearchProjectType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Research project descriptor</doc:tooltip>
				<doc:summary>Descriptor of a research context for a dataset or another
        project.</doc:summary>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="title" type="xs:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Project Title</doc:tooltip>
							<doc:summary>Title of the project.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="personnel" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Personnel</doc:tooltip>
							<doc:summary>Contact and role information for people involved in
              the research project.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="rp:ResponsibleParty">
								<xs:sequence maxOccurs="unbounded">
									<xs:element name="role" type="rp:RoleType">
										<xs:annotation>
											<xs:appinfo>
												<doc:tooltip>Role</doc:tooltip>
												<doc:summary>Role information for people involved in
                        the research project.</doc:summary>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="abstract" type="txt:TextType" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Abstract</doc:tooltip>
							<doc:summary>Project Abstract.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="funding" type="txt:TextType" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Funding</doc:tooltip>
							<doc:summary>Funding information.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="studyAreaDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Description of the study area.</doc:tooltip>
							<doc:summary>Description of the physical area associated with the
              research project, potentially including coverage, climate,
              geology, distrubances, etc.</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="descriptor">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Non-coverage characteristics of the study
                    area</doc:tooltip>
										<doc:summary>Description of non-coverage characteristics of
                    the study area such as climate, geology,
                    disturbances</doc:summary>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="descriptorValue" maxOccurs="unbounded">
											<xs:annotation>
												<xs:appinfo>
													<doc:tooltip>Description of some aspect of the study
                          area.</doc:tooltip>
													<doc:summary>Description of some aspect of the study
                          area.</doc:summary>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="name_or_id" type="xs:string" use="optional">
															<xs:annotation>
																<xs:appinfo>
																	<doc:tooltip>The name or ID of a descriptor
                                  value.</doc:tooltip>
																	<doc:summary>The name part of a name/value
                                  pair of a descriptor; or ID portion of a
                                  classification, if applicable.</doc:summary>
																</xs:appinfo>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="citation" type="cit:CitationType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:appinfo>
													<doc:tooltip>citation</doc:tooltip>
													<doc:summary>A citation for this
                          descriptor.</doc:summary>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="DescriptorType" use="required">
										<xs:annotation>
											<xs:appinfo>
												<doc:tooltip>name</doc:tooltip>
												<doc:summary>The name of the descriptor
                        system.</doc:summary>
											</xs:appinfo>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="citableClassificationSystem" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:appinfo>
												<doc:tooltip>citation classification
                        system</doc:tooltip>
												<doc:summary>This boolean attribute defines whether
                        this descriptor comes from a citable classification
                        system or not.</doc:summary>
											</xs:appinfo>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="citation" type="cit:CitationType" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>citation</doc:tooltip>
										<doc:summary>The citation for this
                    descriptor.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="coverage" type="cov:Coverage" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>coverage</doc:tooltip>
										<doc:summary>The coverage of this descriptor.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="designDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>Description of research design</doc:tooltip>
							<doc:summary>Description of the design of the research
              project</doc:summary>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="description" type="txt:TextType">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Description of research design</doc:tooltip>
										<doc:summary>Textual description of research
                    design.</doc:summary>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="citation" type="cit:CitationType" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<doc:tooltip>Citation for research design</doc:tooltip>
										<doc:summary>Citation that describes the research
                    design.</doc:summary>
										<doc:description>The citation field is a citation to
                    literature that describes elements of the research design,
                    such as goals, motivations, theory, hypotheses, strategy,
                    statistical design, and actual work.</doc:description>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="relatedProject" type="ResearchProjectType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<doc:tooltip>related project</doc:tooltip>
							<doc:summary>This field is a recursive link to another
              project.</doc:summary>
							<doc:description>This field is a recursive link to another
              project. This allows projects to be nested under one another for
              the case where one project spawns another.</doc:description>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:group ref="res:ReferencesGroup"/>
		</xs:choice>
		<xs:attribute name="id" type="res:IDType" use="optional"/>
		<xs:attribute name="system" type="res:SystemType" use="optional"/>
		<xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
	</xs:complexType>
	<xs:simpleType name="DescriptorType">
		<xs:annotation>
			<xs:appinfo>
				<doc:tooltip>Descriptor Theme Type</doc:tooltip>
				<doc:summary>The type of descriptor theme or the name of a
        classification system.</doc:summary>
				<doc:description>The descriptorType is used to represent either the
        name of a citable classification system/controlled vocabulary such as
        the Bailey classification of ecoregions or a domain of physical
        descriptors such as climate or disturbances.</doc:description>
				<doc:example>climate</doc:example>
				<doc:example>soils</doc:example>
				<doc:example>hydrology</doc:example>
				<doc:example>"bailey"</doc:example>
				<doc:example>biome</doc:example>
				<doc:example>disturbance</doc:example>
				<doc:example>geology</doc:example>
			</xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="climate"/>
					<xs:enumeration value="hydrology"/>
					<xs:enumeration value="soils"/>
					<xs:enumeration value="geology"/>
					<xs:enumeration value="disturbance"/>
					<xs:enumeration value="bailey"/>
					<xs:enumeration value="biome"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
</xs:schema>
