vegxschema/veg-organismobservation.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid Studio 2017 - Developer Bundle Edition (Trial) 15.1.17.7979 (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:party="eml://ecoinformatics.org/party-2.0.1" xmlns:tcs="http://www.tdwg.org/schemas/tcs/1.01" xmlns:obs="http://iavs.org/vegX/plotobservation-2.0.0" xmlns:res="eml://ecoinformatics.org/resource-2.0.1" xmlns:doc="eml://ecoinformatics.org/documentation-2.0.1" xmlns:lit="eml://ecoinformatics.org/literature-2.0.1" xmlns:misc="http://iavs.org/vegX/misc-2.0.0" xmlns="http://iavs.org/vegX/organismobservation-2.0.0" targetNamespace="http://iavs.org/vegX/organismobservation-2.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import schemaLocation="veg-plotobservation.xsd" namespace="http://iavs.org/vegX/plotobservation-2.0.0" />
    <xsd:import schemaLocation="veg-misc.xsd" namespace="http://iavs.org/vegX/misc-2.0.0" />
    <xsd:import schemaLocation="tcsv101.xsd" namespace="http://www.tdwg.org/schemas/tcs/1.01" />
    <xsd:import schemaLocation="eml-resource.xsd" namespace="eml://ecoinformatics.org/resource-2.0.1" />
    <xsd:import schemaLocation="eml-literature.xsd" namespace="eml://ecoinformatics.org/literature-2.0.1" />
    <xsd:import schemaLocation="eml-party.xsd" namespace="eml://ecoinformatics.org/party-2.0.1" />
    <xsd:import schemaLocation="eml-documentation.xsd" namespace="eml://ecoinformatics.org/documentation-2.0.1" />
    <xsd:complexType name="CommunityDeterminationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An identification applying one or more community concepts to a PlotObservation. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotObservationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific plotObservation. The individual plotObservation is defined within the element veg:plotObservations which is a container for all plotObservations within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stratumObservationID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific stratumObservation. This element may be used to specify that the community determination applies to a specific stratum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation source="NVS" xml:lang="en">
The start date of this specific community determination. Recorded in ISO 8601 date format: yyyy-mm-dd.
					</xsd:documentation>
                    <xsd:documentation xml:lang="de">
						Optionales Datumsfeld bei Erfassung über längeren Zeitraum
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="endDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="NVS" xml:lang="en">
The end date of this specific community determination. Recorded in ISO 8601 date format: yyyy-mm-dd.
					</xsd:documentation>
                    <xsd:documentation xml:lang="de">
						Enddatum der Erfassung.
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="code" />
            <xsd:element name="authorName">
                <xsd:annotation>
                    <xsd:documentation>A string representing a taxon name that the author of the dataset used to refer to a taxon observed within the plot. May be related to a published name (taxon name) and or taxonomic name (taxon concept) in taxonDetermination.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="misc:noteType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="partyWithRole" type="misc:partyWithRoleType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="groupType" minOccurs="0" />
            <xsd:element name="originalDetermination" minOccurs="0" />
            <xsd:element name="currentDetermination" minOccurs="0" />
            <xsd:element name="communityConcepts" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A container for applying one or more communityConcepts to a plotObservation</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="communityConcept">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">A name and some kind of definition of a community type, preferably a community Name as used in a Reference. </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="name">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">A textual label for a community type. A community type is an abstract grouping of organisms that tend to co-occur on the landscape due to shared ecological requirements or preferences. May be designated by syntaxon or physiognomic types.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="citationID" type="lit:CitationType" minOccurs="0" />
                                    <xsd:element name="rank" minOccurs="0" />
                                    <xsd:element name="commonName" minOccurs="0" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="fit" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation source="VegBank" xml:lang="en">Indicates the degree of fit with the community concept being assigned. Values derive from Gopal, S., and Woodcock, C. (1994), Theory and methods for accuracy assessment of thematic maps using fuzzy sets. Photogrammetric Engineering and Remote Sensing 60(2):181-188. </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="confidence" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation source="VegBank" xml:lang="en">Indicates the degree of confidence of the interpreter(s) in the interpretation made. This can reflect the level of familiarity with the classification or the sufficiency of information about the plot (e.g., High, Moderate, Low). </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="accordingTo" type="tcs:AccordingToType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Information about the authorship of the asserted community concept.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TaxonInterpretationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A specific relationship or assertion between two name concepts which are not part of the original definition of either of these concepts; possibly by a third party. Within vegX this typically allows for an author organism name, i.e. a name string used by the author in this dataset, to be linked to either a published nomenclatural name (taxon name) or a specific taxa treatment (taxon concept), according to a third party. Similar to a tcs TaxonRelationshipAssertion. May be used to add additional taxon determinations or annotations by users of the dataset beyond the original author.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organismIdentityID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific organism identity through the id attribute. The actual organism identity is defined within the element veg:organismIdentities which is a container for all identities within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taxonNameID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A link to a scientific taxon name currently used to label the organism, as stated by the author of the data set or a third party responsible for the current nomenclature.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taxonConceptID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A link to a taxon concept currently representing the organism identity, as stated by author of the data set or a third party responsible for the current nomenclature and taxonomy.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="date" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The determination date for the organism or taxon observation. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="misc:noteType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="partyWithRole" type="misc:partyWithRoleType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The party that made the determination that applies to this dataset. This is not the same as the authorship of the asserted relationship. See accordingTo.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taxonInterpretationCitationID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">A link to the publication where nomenclature is described.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taxonInterpretationDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Date for the last nomenclature revision applied to this organism identity. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taxonInterpretationPartyID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A link to a party who undertook the nomenclarure revision.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taxonInterpretationSource" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Source for the last nomenclature or taxonomic revision applied to this organism identity (i.e. the Plant List).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="taxonRelationshipAssertionType">
        <xsd:annotation>
            <xsd:documentation>A specific taxonomic assertion record.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="taxonConceptID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific Taxon Concept. The concept is defined within the element veg:taxonConcept which is a container for all Taxon Concepts within a dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fit" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indicates the degree of fit with the concept being assigned.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="confidence" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indicates the degree of confidence of the interpreter(s) in the interpretation made. This can reflect the level of familiarity with the classification or the sufficiency of information about the plot (e.g., High, Moderate, Low). </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accordingToCitationID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Information about the authorship of the asserted relationship. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrganismIdentity">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An organism name occurring within the dataset. This is a usage concept defined by the dataset author which may follow, or be according, to an additional third party. 
It may be further related to a published name (taxon name, tcs:TaxonName) and or taxonomic name (taxon concept, tcs:TaxonConcept) by using the taxon relationship assertion.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organismName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A string of a name (e.g. field names, morphospecies, not necessarily a scientific taxon name) that the author of the dataset used to refer to an organism observed within the plot. 
</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="originalIdentificationPartyID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A party involved in the original organism identification (normally the author of the data set).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="voucher" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Herbarium accession number for any archived voucher specimens</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="misc:noteType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="taxonInterpretation" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="taxonNameID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>A link to a scientific taxon name currently used to label the organism, as stated by the author of the data set or a third party responsible for the current nomenclature.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="interpretationDate" type="xsd:date">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">The determination date for the organism or taxon observation. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="taxonInterpretationSource" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="EN">Source for the last nomenclatural and/or taxonomic revision applied to this organism identity (i.e. the Plant List).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="sourceCitationID" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="EN">A link to the publication where nomenclature or taxon concepts are described.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="taxonConceptID" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>A link to a taxon concept currently representing the organism identity, as stated by author of the data set or a third party responsible for the current nomenclature and taxonomy.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="partyWithRole" type="misc:partyWithRoleType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>The party that made the determination that applies to this dataset. This is not the same as the authorship of the asserted relationship. See accordingTo.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="taxonInterpretationDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Date for the last nomenclature revision applied to this organism identity. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="taxonInterpretationPartyID" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>A link to a party who undertook the nomenclarure revision.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="note" type="misc:noteType" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="res:IDType" use="required" />
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="AggregateOrganismObservationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An observation applying to all occurrences of an organism based on an aggregation factor. </xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotObservationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific plotObservation by ID. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taxonNameUsageConceptID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific taxonNameUsageConcept representing a taxon occurrence by ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aggregateOrganismMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A measurement for a aggregate organism value (e.g. plant cover of a taxon). Values can be further defined uppervalue, accuracy etc. Many measurements (e.g. counts, cover, basal area...) can be added to the same aggregate organism observation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heightMeasurement" type="misc:MeasurementType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional height at which the aggregated observation was made, e.g. in meters. It applies to all aggregate measurements included in this aggregateOrganismObservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stratumObservationID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific stratumObservation by ID. It applies to all aggregate measurements included in this aggregateOrganismObservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationGroupingID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific observationGrouping by ID.  </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="misc:noteType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="res:IDType" use="optional" />
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="StratumType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The definition of a stratum, not the observation of a stratum. An individual stratum usually belongs to a ordered list that together are the set of strata definitions in use within a specific dataset. This set of strata will normally have been defined according to the same method, but individual stratum may also be assigned a method.  </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stratumName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">Name associated with this stratum and which identifies it.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="methodID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific method used to define this stratum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="definition" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">A longer description of the stratum definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="order" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">An indication of a position in an ordered sequence of strata. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="upperLimit" type="xsd:decimal" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Upper limit of the stratum in some known dimension (e.g. height) defined in the attribute of the method pointed to by 'methodID'.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lowerLimit" type="xsd:decimal" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Lower limit of the stratum in some known dimension (e.g. height) defined in the attribute of the method pointed to by 'methodID'.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="res:IDType" use="required" />
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="StratumObservationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A container for observations applying to a stratum.</xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stratumID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific stratum. The individual stratum is defined within the element veg:strata which is a container for all strata within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plotObservationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific plotObservation. The individual plotObservation is defined within the element veg:plotObservations which is a container for all plotObservations within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lowerLimitMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">A measurement of the lower limit (i.e. height) of the stratum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="upperLimitMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">A measurement of the upper limit (i.e. height) of the stratum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stratumMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A measurement (e.g. plant cover, or individual count) made in the stratum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationGroupingID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific observationGrouping.  </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="misc:noteType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="res:IDType" use="required" />
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="IndividualOrganismType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An identified organism recorded during 1 or more individual organism observation events. The individual may have an identification label (e.g. tree tag number).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific plot by the plot ID.	</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="individualOrganismLabel" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A label that is associated with an individual (e.g. a numerical tree tag)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taxonNameUsageConceptID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific datasetNameUsageConcept representing a taxon occurrence. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="birthDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Date of birth recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relatedIndividual" type="misc:relatedItemType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">An item may be related or connected in some way to other items. For example fused stems, epiphytic relationships or mapped individuals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relativePlotPosition" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Position, relative to the plot origin, of the organism within the plot. This position is assumed to be constant in time during the organism lifespan.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="relativeX" type="xsd:decimal">
                            <xsd:annotation>
                                <xsd:documentation source="VegBank" xml:lang="en">The X-coordinate of the related item position in m. The user will enter the relative position of related item with respect to the plot origin (in meters) with the x-axis defined by the plot azimuth. </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="relativeY" type="xsd:decimal">
                            <xsd:annotation>
                                <xsd:documentation source="VegBank" xml:lang="en">The Y-coordinate of the relatedSpatialItem position in m. The user will enter the relative position of relatedSpatialItems with respect to the plot origin (in meters) with the y-axis defined by the plot azimuth. </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="relativeZ" type="xsd:decimal" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">The Z-coordinate of the relatedSpatialItem position in m. The user will enter the relative position of relatedSpatialItems with respect to the plot elevation (in meters). </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="note" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">For specifying additional comments or explanations pertaining to the IndividualOrganismType.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="res:IDType" use="required" />
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="IndividualOrganismObservationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An observation applying to one occurrence of an organism (or part of an organism). </xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
		</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotObservationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific plotObservation.  The individual plotObservation is defined within the element veg:plotObservation which is a container for all plotObservations within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="individualOrganismID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific individualOrganism.  The particular individualOrganism is defined with the element veg:individualOrganisms which is a container for all individualOrganisms within the dataset</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stratumObservationID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific stratum observation that this individual was measured in on the plot. The individual stratum observations are defined with the element veg:stratumObservation which is a container for all the stratum observations in the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heightMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Measurement of the maximum height reached by the observed individual.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="diameterMeasurement" type="misc:MeasurementType">
                    <xsd:annotation>
                        <xsd:documentation>Diameter of the stem without explicit measurement of base distance (may be defined in the measurement method definition)</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="diameterBaseDistanceMeasurement">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">A container for diameter measurements at a given distance along the stem from the ground.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="diameter" type="misc:MeasurementType">
                                <xsd:annotation>
                                    <xsd:documentation>Diameter of the stem at the point of measurement (baseDistance)</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="baseDistance" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">The distance along the stem from the ground (usually in meters) at which diameter was measured</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="individualOrganismMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A measurement applying to the observed individual. This includes qualitative, ordinal or quantitative assessments of form, health, dimensions of components, ...</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="individualOrganismMultipleMeasurement" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A n-tuple of a related measurements (e.g. paired data such as length, width and height to calculate volume). The definition of the relationship type is left open to the user, but is intended to allow specifying a set of measurements that have to be considered together.  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Name of the quantity (e.g. volume) being measured via multiple measurements (e.g. length, width, height).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="measurement" type="misc:MeasurementType" minOccurs="2" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="observationGroupingID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific observationGrouping.  The individual observationGrouping is defined within the element veg:observationGrouping which is a container for all observationGroupings within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Complex type for specifying additional comments or explanations pertaining to the element</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Simple user-defined information types stored as a name-value pair. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Complex user-defined information types. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="res:IDType" use="required" />
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
</xsd:schema>