vegxschema/veg-plot.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid Studio 2017 - Developer Bundle Edition (Trial) 15.1.17.7979 (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:misc="http://iavs.org/vegX/misc-2.0.0" xmlns="http://iavs.org/vegX/plot-2.0.0" targetNamespace="http://iavs.org/vegX/plot-2.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import schemaLocation="veg-misc.xsd" namespace="http://iavs.org/vegX/misc-2.0.0" />
    <xsd:complexType name="relatedPlotType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A plot or observation may be related spatially to another plot in order to express parent-child, sub-plot or contiguity. The plot related or connect to in geometric space with the related plot identified and the nature of the relationship to be define. For example subplots, contiguous plots along transects etc. Normally this would be for parent-child (or sub-plot) relationships. A standard convention should be used with preference for the child entity to point back to its parent.The plot related or connect to in geometric space with the related plot identified and the nature of the relationship to be define. For example subplots, contiguous plots along transects etc. Normally this would be for parent-child (or sub-plot) relationships. A standard convention should be used with preference for the child entity to point back to its parent.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="relatedPlotID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific related plot. This would be the parent plot identifer in most cases.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plotRelationship" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The type of relationship of the current plot with respect to the referenced plot. For a parent-child relationship the relatedPlotType should appear in the subplot and plotRelationship should be 'subplot'. For contiguous plots in a transect both plots should have a relatedPlotType and the value of plotRelationship should be 'contiguous'.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relativeSpatialCoordinate" type="misc:relativeSpatialCoordinateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Two related plots may have their relative positions described in geometric space using the relative position with respect to the point of origin for the referenced plot.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="plotCoordinatesType">
        <xsd:list itemType="xsd:decimal" />
    </xsd:simpleType>
    <xsd:complexType name="PlotType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A plot is a sampling location, represented as one or more points, lines, polygons, or volumes, and is the basis for experimentation or measurement. Its properties are assumed to be constant over time. A point within the plot may be used as center for relative coordinates, which are required to be Cartesian. Plots may have no explicit bounds, and may refer to an area of inference. A plot may be related to other plots in order to express parent-child, contiguity, or other type of links.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Name or label for a plot.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plotUniqueIdentifier" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Plot identifier that is unique across the dataset and derived from the data source, and preferably globally unique.  A GUID (globally unique identifier) would be ideal for this purpose, such as LSID (Life Science Identifier).  See http://www.tdwg.org/activities/online-services/lsid-authority-ids/.	</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element xmlns:q1="http://iavs.org/vegX/misc-2.0.0" name="relatedPlot" type="relatedPlotType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A plot may be related spatially to other plots in order to express parent-child, sub-plot or contiguity. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="placementMethod" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">Strategy followed when placing this particular plot. Useful for example if different sampling strategies have been followed within one project.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="placementPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The party that undertook the plot placement, and/or parties with other roles.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="placementNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Additional comments or explanations regarding plot placement.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="location" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Information regarding the location of a plot on the earth's surface</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="horizontalCoordinates" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Horizontal location of a plot on the Earth's surface. To avoid ambiguity there should be only one coordinate pair for a plot per measurement. However, there may be multiple measurements by different parties or at different times that can be accommodated in the scheme.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="coordinates">
                                        <xsd:annotation>
                                            <xsd:documentation>Value specifying easting or longitude of a point</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="valueX" type="xsd:string" />
                                                <xsd:element name="valueY" type="xsd:string" />
                                                <xsd:element name="attributeID" type="xsd:string">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Specifying units and methods. Typical units are: 
Decimal degrees like 12.993343 S, or -12.993343 or
UTM coordinates like 11N 345567
Methods used could be for example the use of global navigation satellite systems or an estimate based on a map. Note that there is a designated field for the accuracy

</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="spatialReference" type="xsd:string">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Reference system for the coordinates. Ideally a Proj.4 string or EPSG code (see http://spatialreference.org/). Could also be an unambiguous name like 'NAD27(CGQ77) / UTM zone 21N' instead of EPSG:2035. The spatial reference typically used by satellite navigation systems today is EPSG:4326.</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="locationAccuracy" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Measure or estimate of accuracy for the coordinates</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="locationInPlot" type="xsd:string" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>Text describing the position of the coordinates within a plot (simply 'plot origin' if an origin is defined in geometry)</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="locationDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>The date when the coordinates have been assessed or measured. This allows for multiple measurements.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="locationPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                                    <xsd:element name="locationSources" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Optionally, maps, gazetteers or other resources used to georeference the locality. The content of this concept is meant to be specific enough to allow anyone in the future to use the same resource to georeference the same locality. Example: "USGS 1:24000 Florence Montana Quad".</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="locationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="verticalCoordinates" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Elevation of the plot in respect to some vertical datum (such as the mean sea level or an elliposid).</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="elevation">
                                        <xsd:annotation>
                                            <xsd:documentation>Value specifying the elevation of the plot in respect to some vertical datum (such as the mean sea level or an elliposid).</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="value" type="xsd:decimal">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Elevation in meters</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="attributeID" type="xsd:string">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Specifying units and methods. Typically the measures are in meters and relate to the mean sea level or to base heights of an ellipsoid of the Earth. Typical methods are barometric measurements or the interpretation of a map (element elevationSources).</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="elevationSources" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Maps or other resources used to determin the elevation.</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="elevationAccuracy" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Measure or estimate of accuracy for the elevation</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="elevationInPlot" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Point of reference in the plot. This could be the uppermost or lowest point or an average or the plot origin as specified in geometry.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="elevationDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>The date when the elevation has been assessed or measured. This allows for multiple measurements.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="elevationPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Party who took the measurement or assessed the value</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="elevationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Any notes relating to this elevation value</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="locationInWaterBody" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Location in respect to a water surface or shoreline.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="depth">
                                        <xsd:annotation>
                                            <xsd:documentation>Value specifying the depth in meters under a water surface</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="value" type="xsd:decimal">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Depth in meters</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="attributeID" type="xsd:string">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Specifying units and methods. Typically the measures are in meters and relate to the mean water surface level.</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="depthAccuracy" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Measure or estimate of accuracy for the depth</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="depthInPlot" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Point of reference in the plot. This could be the uppermost or lowest point or an average.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="depthDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>The date when the depth has been assessed or measured. This allows for multiple measurements.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="depthPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Party who took the measurement</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="depthNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Any notes relating to this depth value</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="shoreDistance" type="misc:MeasurementType">
                                        <xsd:annotation>
                                            <xsd:documentation>Closest distance to shore (for aquatic / marine sites)</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="gridPosition" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Position in a grid such as used for floristic surveys</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="gridSystem" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Name of the reference grid system</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="gridCell" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Label of the grid cell</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="gridCellQuadrant" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Quadrant of a grid cell</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="authorLocation" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Descriptive note about the original location described by author.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="locationNarrative" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation source="VegBank" xml:lang="en">Text description that provides information useful for plot relocation.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="places" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>A collection of named places or geographic regions. Includes elements to indicate what type of place and which place/geo-region schema it was from.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="placeName" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>A place name, e.g. Germany.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="placeType" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>What type of place name it is e.g. administrative region, country name, city name etc. </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="placeSchema" type="xsd:string" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>A place/geo-region schema from which the type and name were derived e.g. ISO country names.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="geometry" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Information regarding the geometry of the plot (area, shape, dimensions, coordinates, ...) as well as the point within the plot that serves as plot origin for location.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="shape" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Textual description of the plot's shape (e.g., linear, rectangle, polygon, circle)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="area" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Total area of the plot. Usually recorded in square meters.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="plotOrigin" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Definition of the position of the plot origin within the plot (here usually "center"). This is referred to in the horizontalCoordinates element under locationInPlot. The actual coordinates go into the location - horizontalCoordinates element</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="plotOriginPosition" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The position of the origin point on the plot. Usually the center of the circle. If there are coordinates for this point they should be given under location &gt; hozizontalCoordinates.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="plotOriginLabel" type="xsd:string" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>An identifier used to label the plot origin.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="radius" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Define the radius of circular plots. Usually recorded in meters.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="width" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation source="NVS" xml:lang="en">Width of a regular rectangle. In case of a quadrat width of all sides.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="length" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation source="NVS" xml:lang="en">Length (largest dimension) of a rectangle plot or length of a linear plot.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="orientation" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation source="NVS" xml:lang="en">Orientation of the main axis of the plot (e.g. in degrees from North). For quadrat plots the axis closer to the N-S axis should be given.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="bandWidth" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation source="NVS" xml:lang="en">Distance from the linear plot axis. This distance delimits the surface included for measurements. </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="path" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Set of points conforming the path in a linear plot (i.e. a transect)</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="coordinates" type="plotCoordinatesType" />
                                    <xsd:element name="attributeID" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Specifying units and methods. Typical units are: 
Decimal degrees like 12.993343 S, or -12.993343 or
UTM coordinates like 11N 345567
Methods used could be for example the use of global navigation satellite systems or an estimate based on a map. Note that there is a designated field for the accuracy

</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="spatialReference" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Reference system for the coordinates. Ideally a Proj.4 string or EPSG code (see http://spatialreference.org/). Could also be a unambiguous name like 'NAD27(CGQ77) / UTM zone 21N' instead of EPSG:2035. The spatial reference typically used by satellite navigation systems today is EPSG:4326.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="locationAccuracy" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Measure or estimate of accuracy for the coordinates</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="outerBoundary" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Absolute or relative coordinates defining the outline of a polygon.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="coordinates" type="plotCoordinatesType" />
                                    <xsd:element name="attributeID" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Specifying units and methods. Typical units are: 
Decimal degrees like 12.993343 S, or -12.993343 or
UTM coordinates like 11N 345567
Methods used could be for example the use of global navigation satellite systems or an estimate based on a map. Note that there is a designated field for the accuracy

</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="spatialReference" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Reference system for the coordinates. Ideally a Proj.4 string or EPSG code (see http://spatialreference.org/). Could also be a unambiguous name like 'NAD27(CGQ77) / UTM zone 21N' instead of EPSG:2035. The spatial reference typically used by satellite navigation systems today is EPSG:4326.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="locationAccuracy" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Measure or estimate of accuracy for the coordinates</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="innerBoundary" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Coordinates defining any inner boundary of a polygon</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="coordinates" type="plotCoordinatesType" />
                                    <xsd:element name="attributeID" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Specifying units and methods. Typical units are: 
Decimal degrees like 12.993343 S, or -12.993343 or
UTM coordinates like 11N 345567
Methods used could be for example the use of global navigation satellite systems or an estimate based on a map. Note that there is a designated field for the accuracy
</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="spatialReference" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Reference system for the coordinates. Ideally a Proj.4 string or EPSG code (see http://spatialreference.org/). Could also be a unambiguous name like 'NAD27(CGQ77) / UTM zone 21N' instead of EPSG:2035. The spatial reference typically used by satellite navigation systems today is EPSG:4326.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="locationAccuracy" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Measure or estimate of accuracy for the coordinates</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="topography" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Information regarding the shape and features of the surface on which the plot was placed (e.g. aspect, slope, ...).</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="aspect" type="misc:MeasurementType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Representative azimuth of slope gradient (0-360 degrees) or as a cardinal direction (e.g. N, S, NE).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="slope" type="misc:MeasurementType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Representative inclination of slope in degrees.</xsd:documentation>
                                <xsd:documentation xml:lang="de">Neigung in Grad</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="landform" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation source="VegBank" xml:lang="en">Slope position like downslope and / or or vertical and horizontal slope curvature at the position of the plot</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="parentRock" type="misc:ClassType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Underlying geological material (generally bedrock or a superficial or drift deposit) in which soil horizons form. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation />
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique internal identifier (key) of the element. This identifier is used elsewhere in a dataset instance to reference this specific element when it is referred to in a repeatable way by other part of the schema. </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="StratumType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The definition of a stratum, not the observation of a stratum. An individual stratum usually belongs to a ordered list that together are the set of strata definitions in use within a specific dataset. This set of strata will normally have been defined according to the same method, but individual stratum may also be assigned a method.  </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stratumName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">Name associated with this stratum and which identifies it.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="methodID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific method used to define this stratum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="definition" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">A longer description of the stratum definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="order" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">An indication of a position in an ordered sequence of strata. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="upperLimit" type="xsd:decimal" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Upper limit of the stratum in some known dimension (e.g. height) defined in the attribute of the method pointed to by 'methodID'.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lowerLimit" type="xsd:decimal" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Lower limit of the stratum in some known dimension (e.g. height) defined in the attribute of the method pointed to by 'methodID'.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="SurfaceType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The definition of a stratum, not the observation of a stratum. An individual stratum usually belongs to a ordered list that together are the set of strata definitions in use within a specific dataset. This set of strata will normally have been defined according to the same method, but individual stratum may also be assigned a method.  </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="surfaceName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">Name associated with this stratum </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="definition" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">A longer description of the surface definition</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="methodID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific method used to define this surface cover. The individual method is defined within the element veg:methods which is a container for all methods within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
</xsd:schema>