vegxschema/veg-userdefined-2.0.0.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="userExample2">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Element1" type="xsd:string"/>
				<xsd:element name="Element2" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="userExample1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ElementA" type="xsd:string"/>
				<xsd:element name="ElementB" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
