vegxschema/veg-misc.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid Studio 2017 - Developer Bundle Edition (Trial) 15.1.17.7979 (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:party="eml://ecoinformatics.org/party-2.0.1" xmlns:res="eml://ecoinformatics.org/resource-2.0.1" xmlns:dwg="http://rs.tdwg.org/dwc/geospatial/" xmlns:lit="eml://ecoinformatics.org/literature-2.0.1" xmlns:doc="eml://ecoinformatics.org/documentation-2.0.1" xmlns="http://www.bfn.de/misc-1.0.1" targetNamespace="http://www.bfn.de/misc-1.0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import schemaLocation="eml-literature.xsd" namespace="eml://ecoinformatics.org/literature-2.0.1" />
    <xsd:import schemaLocation="eml-party.xsd" namespace="eml://ecoinformatics.org/party-2.0.1" />
    <xsd:import schemaLocation="eml-documentation.xsd" namespace="eml://ecoinformatics.org/documentation-2.0.1" />
    <xsd:import schemaLocation="eml-resource.xsd" namespace="eml://ecoinformatics.org/resource-2.0.1" />
    <xsd:import schemaLocation="tdwg_dw_geospatial.xsd" namespace="http://rs.tdwg.org/dwc/geospatial/" />
    <xsd:simpleType name="DEFCATEGORIE">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Disturbance and land user" />
            <xsd:enumeration value="Environment" />
            <xsd:enumeration value="Geology and geomorphology" />
            <xsd:enumeration value="Moisture" />
            <xsd:enumeration value="Not specified" />
            <xsd:enumeration value="Soil, chemical attributes" />
            <xsd:enumeration value="Soil, psysical attributes" />
            <xsd:enumeration value="Subplots" />
            <xsd:enumeration value="Topography" />
            <xsd:enumeration value="" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="relatedPlotType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A plot or observation may be related spatially to another plot in order to express parent-child, sub-plot or contiguity. The plot related or connect to in geometric space with the related plot identified and the nature of the relationship to be define. For example subplots, contiguous plots along transects etc. Normally this would be for parent-child (or sub-plot) relationships. A standard convention should be used with preference for the child entity to point back to its parent.The plot related or connect to in geometric space with the related plot identified and the nature of the relationship to be define. For example subplots, contiguous plots along transects etc. Normally this would be for parent-child (or sub-plot) relationships. A standard convention should be used with preference for the child entity to point back to its parent.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="relatedPlotID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific related plot. This would be the parent plot identifer in most cases.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plotRelationship" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The type of relationship e.g. subplots, contiguous plots along transects etc. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relativeSpatialCoordinate" type="relativeSpatialCoordinateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Two related plots may have their relative positions described in geometric space using the relative position with respect to the point of origin for the referenced plot.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="relatedItemType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An item may be related or connected in some way to other items. For example fused stems, epiphytic relationships or mapped individuals or paired observations. </xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
				<doc:moduleDocs>
					<doc:moduleName>relatedSpatialItemType</doc:moduleName>
					<doc:moduleDescription>
						<section xmlns="">
							<title>relatedSpatialItem - An item may be related spatially to other items.</title>
							<para>An item (e.g. tree or plot) may be related spatially to other items in order to express parent-child, contiguity, or other type of links. This may include relative coordinates between them.</para>
						</section>
					</doc:moduleDescription>
					<doc:recommendedUsage />
					<doc:standAlone>no</doc:standAlone>
				</doc:moduleDocs>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="relatedItemID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific related item. This would be the item identifer elsewhere in the schema in most cases.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="itemRelationship" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The type of relationship e.g. relationships such as fused stems, epiphytic, forked stems, epicormic stems, mapped individuals. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relativeSpatialCoordinate" type="relativeSpatialCoordinateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Two related items may have their relative positions described in geometric space using the relative position with respect to the point of origin for a referenced plot or each other.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="simpleUserDefinedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Simple user-defined information types stored as a name-value pair. </xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
				<doc:moduleDocs>
					<doc:moduleName>simpleUserDefinedType</doc:moduleName>
					<doc:moduleDescription>
						<section xmlns="">
							<title>simpleUserDefined - Simpe user-defined information types stored with as a name-value pair.</title>
							<para>Simpe user-defined information types stored with as a name-value pair. Includes mandatory link to the method used.</para>
						</section>
					</doc:moduleDescription>
					<doc:recommendedUsage />
					<doc:standAlone>no</doc:standAlone>
				</doc:moduleDocs>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The name of the user defined variable</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">The value of the user-defined variable.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="methodID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific method used to measure the user defined type. The individual method is defined within the element veg:method which is a container for all methods within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="complexUserDefinedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Complex user-defined information types. This provides a means to extend the schema to accommodate related information that is more complex than can be accommodated with the simpleUserDefinedType.</xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
				<doc:moduleDocs>
					<doc:moduleName>complexUserDefinedType</doc:moduleName>
					<doc:moduleDescription>
						<section xmlns="">
							<title>complexUserDefined - Complex user-defined information types.</title>
							<para>Complex user-defined information types stored. Te nature of these types are also defined by the user.</para>
						</section>
					</doc:moduleDescription>
					<doc:recommendedUsage />
					<doc:standAlone>no</doc:standAlone>
				</doc:moduleDocs>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="partyWithRoleType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Based on the the eml-party module - People/organization information and their role as related to the resource</xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
				<doc:moduleDocs>
					<doc:moduleName>partyWithRoleType</doc:moduleName>
					<doc:moduleDescription>
						<section xmlns="">
							<title>partyWithRole</title>
							<para>The eml-party module describes a responsible party (person or
            organization), and is typically used to name the originator or conrtributor of a
            resource.</para>
						</section>
					</doc:moduleDescription>
					<doc:recommendedUsage />
					<doc:standAlone>no</doc:standAlone>
				</doc:moduleDocs>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partyID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific party. The individual party is defined with the element veg:partys which is a container for all the parties within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="role" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Based on the the eml-party module - The role code field provides information on how a person or organization is related to a resource. </xsd:documentation>
                    <xsd:documentation xml:lang="de" />
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="noteType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Complex type for specifying additional comments or explanations pertaining to the element of concern</xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
				<doc:moduleDocs>
					<doc:moduleName>noteType</doc:moduleName>
					<doc:moduleDescription>
						<section xmlns="">
							<title>note - Complex type for specifying additional notes. </title>
							<para>A Complex type for specifying additional notes.</para>
						</section>
					</doc:moduleDescription>
					<doc:recommendedUsage />
					<doc:standAlone>no</doc:standAlone>
				</doc:moduleDocs>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="text" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The text of the additional comments or explanations.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="date" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date on which the note was stored in the database. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="VegBank">The type of note: Database Management, Observation Author, Database User and Internal.</xsd:documentation>
                    <xsd:appinfo> "Database Management" notes are those added by the management team and may be queried and viewed by the public. "Database Use" notes are those entered by the users of the database and are publicly viewable. "Internal" notes are for management to use internally and will not be broadcast. </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partyID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to the specific individual who contributed the note.  The identity of the contributor is defined within the element veg:parties [EML] which is a container for all parties within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MethodType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A method followed in the creation of the dataset or measurement of a parameter. May link to a protocol and literature reference.A protocol may have many method or steps.</xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo />
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Name associated with the method. For example, that signified by an ordinal value method such as cover class.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="NVS" xml:lang="en">A full description of the type of method e.g., research/project or measured parameter or basal area of all stems &gt; 10 cm dbh or counts of all saplings &gt;1.35 m tall and less than 2 cm dbh.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="subject" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The description of an attribute class for comparative purposes. If two methods measure the same attribute (e.g. plant cover), but with different degrees of precision and accuracy, setting 'subject' to 'plant cover' allows combining their values. All attributes pointing to the same method are assumed to apply to the same subject.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="protocolID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a protocol.  The individual protocol is defined within the element veg:protocols which is a container for all protocols within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="citationID" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">A reference to a specific citation of literature.  The literature to which the citation pertains is defined within the element veg:literature [EML] which is a container for all the literature within the dataset.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="citationString" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>A citation string to be used when the full schema for literature citations is to be avoided</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="id" type="res:IDType" use="required" />
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="ClassType">
        <xsd:annotation>
            <xsd:documentation>An assessment of a qualitative value which can be embeded in a known set of categories.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A string representing a category.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="qualitativeAttributeID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Reference to a qualitative attribute (whose element 'code' should be the same as 'value'). Used to indicate that the value is one among a set of predefined classes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MeasurementType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Specifies a simple measurement of an attribute.</xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
				<doc:moduleDocs>
					<doc:moduleName>MeasurementType</doc:moduleName>
					<doc:moduleDescription>
						<section xmlns="">
							<title>Measurement - A used specify a simple measurement of an attribute. </title>
							<para>A complex type used specify a simple measurement of an attribute. </para>
						</section>
					</doc:moduleDescription>
					<doc:recommendedUsage />
					<doc:standAlone>no</doc:standAlone>
				</doc:moduleDocs>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Webster's dictionary" xml:lang="en">The amount or extent of a specified measurement of a quantity. Usually numeric, but may be a code if the attribute is ordinal or qualitative.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attributeID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Allows a measurement value to be qualified (type, units, method, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accuracy" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.geod.nrcan.gc.ca/edu/gloss_e.php" xml:lang="en">The closeness of the estimate or measurement to its true (but unknown) value</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="upperValue" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>An upper value for an uncertain measurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lowerValue" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A lower value for an uncertain measurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="complexUserDefined" type="complexUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Complex user-defined information types. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType abstract="false" name="AbioticMeasurementType">
        <xsd:sequence>
            <xsd:element name="abioticMeasurement" type="MeasurementType" />
            <xsd:element name="relatedAbioticMeasurement" type="relatedItemType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">An abiotic measurement may be related to a another.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="res:IDType" use="required" />
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="ObservationGroupingType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A named grouping entity that can be used to define grouping events elsewhere in the dataset. These are a set of observation records that are grouped in the data management system owing to some common characteristic.</xsd:documentation>
            <xsd:appinfo>
				<doc:moduleDocs>
					<doc:moduleName>ObservationGroupingType</doc:moduleName>
					<doc:moduleDescription>
						<section xmlns="">
							<title>ObservationGrouping - A set of observation records that are grouped.</title>
							<para>A set of observation records, of any kind, that are grouped in the data management system owing to some common characteristic. For example, records that represent revisits to the same area for monitoring purposes can be linked together through this entity. Note that some specific groupings are already defined in the vegschema and therefore they should not be repeated (e.g. the grouping of observations made on a specific plot during a specific time is a PlotObservation).</para>
						</section>
					</doc:moduleDescription>
					<doc:recommendedUsage />
					<doc:standAlone>no</doc:standAlone>
				</doc:moduleDocs>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The unique name of a specific grouping entity that is subsequently referenced by specific observations.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The grouping entity type. For example, grouping of individual organism observations for the purposes of describing a physical relationship. Recommended that a closed-list is developed and used.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="res:IDType" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique identifier (key) of the element.  It can be unique locally to the data set for a given data element type (e.g., a grouping entity) or a GUID in which case it can be resolved to a location on the internet where the record is stored. Read fully description elsewhere.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="AttributeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The definition of a measured property. </xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
				<doc:moduleDocs>
					<doc:moduleName>AttributeType</doc:moduleName>
					<doc:moduleDescription>
						<section xmlns="">
							<title>Attribute - The definition of a measured property. </title>
							<para>The definition of a measured property. An attribute has to be one of three types: nominal (unordered categorized variable), ordinal (ordered list of values) or ratio (a numerical variable, either discrete or continuous</para>
						</section>
					</doc:moduleDescription>
					<doc:recommendedUsage />
					<doc:standAlone>no</doc:standAlone>
				</doc:moduleDocs>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="quantitative">
                <xsd:annotation>
                    <xsd:documentation>A numerical variable, either discrete or continuous may = interval and cardinal</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="methodID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>A reference to a specific method. The individual method is defined within the element veg:method which is a container for all methods within the dataset.	</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="unit" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Unit of measurement (e.g. mm, cm, square meters, number of individuals)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="precision" type="xsd:decimal">
                            <xsd:annotation>
                                <xsd:documentation source="http://mdk12.org/instruction/curriculum/mathematics/glossary.shtml" xml:lang="en">The smallest place value to which the measurement is expressed (eg, if pi is represented as 3.14, then its precision is .01).
</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="upperLimit" type="xsd:decimal">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">potential upper limit of the measurement</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lowerLimit" type="xsd:decimal">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">potential lower limit of the measurement</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ordinal">
                <xsd:annotation>
                    <xsd:documentation source="http://www.cliffsnotes.com/WileyCDA/Section/Statistics-Glossary.id-305499,articleId-30041.html" xml:lang="en">A scale using numbers or symbols to rank order; its intervals are unspecified.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="code" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The value like "+" or "1" in Braun-Blanquet cover scales</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="methodID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>A reference to a method that describes the context for the ordinal code, e.g., cover class code. The individual method is defined within the element veg:method which is a container for all methods within the dataset. </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="definition" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The definition of an ordinal number or symbol used to signify an ordered list. For example a cover class ordinal code such as 1 = &gt;1-5 %</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="upperLimit" type="xsd:decimal" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
Upper limit of the cover index in percent (only relevant when the value represents a cover class index)
					</xsd:documentation>
                                <xsd:documentation xml:lang="de">
						Obergrenze des Deckungsindex in Prozent.
					</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lowerLimit" type="xsd:decimal" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
				Lower limit of the cover index in percent
					</xsd:documentation>
                                <xsd:documentation xml:lang="de">
						Untergrenze des Deckungsindex in Prozent.
					</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="order" type="xsd:decimal" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Explicit order in the sequence of ordinal values to which this code belongs</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="qualitative">
                <xsd:annotation>
                    <xsd:documentation>Unordered categorized variable = nominal</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="methodID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>A reference to a specific method. The individual method is defined within the element veg:method which is a container for all methods within the dataset.	</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="code" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The label of the category used for measurement values.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="definition" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Longer description of the definition of the category.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
        <xsd:attribute name="id" type="res:IDType" use="required" />
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="ProtocolType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An agreed protocol that is being followed in the creation of the dataset. May have many methods or steps.</xsd:documentation>
            <xsd:documentation xml:lang="de"> </xsd:documentation>
            <xsd:appinfo>
				<doc:moduleDocs>
					<doc:moduleName>ProtocolType</doc:moduleName>
					<doc:moduleDescription>
						<section xmlns="">
							<title>Protocol - An agreed protocol that is being followed.</title>
							<para>An agreed protocol that is being followed in the creation of the dataset. May have many methods or steps.</para>
						</section>
					</doc:moduleDescription>
					<doc:recommendedUsage />
					<doc:standAlone>no</doc:standAlone>
				</doc:moduleDocs>
			</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Name of the protocol.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partyWithRole" type="partyWithRoleType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The party involved in describing the protocol.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="citationID" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">A reference to a specific citation of literature.  The literature to which the citation pertains is defined within the element veg:literature [EML] which is a container for all the literature within the dataset.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="citationString" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>A citation string to be used when the full schema for literature citations is to be avoided</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="id" type="res:IDType" use="required" />
        <xsd:attribute name="system" type="res:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="res:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="GeospatialType">
        <xsd:annotation>
            <xsd:documentation>Compex type for capturing geospatial location. Based on Darwin Core Geospatial extension. Includes an extension for depth and elevation following TDWG taxonOccurrence ontology and additions for coordinates based on a projected grid coordinate system. For example a map series, map sheet name and easting and northing coordinates.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="dwg:DecimalLatitude" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The latitude of the location from which the plot was observed, expressed in decimal degrees. Positive values are North of the Equator, negative values are South of the Equator.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:DecimalLongitude" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The longitude of the location from which the plot was observed, expressed in decimal degrees. Positive values are East of the Greenwich Meridian, negative values are West of the Greenwich Meridian.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:GeodeticDatum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The geodetic datum to which the latitude and longitude refer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:CoordinateUncertaintyInMeters" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The upper limit of the distance (in meters) from the given latitude and longitude describing a circle within which the whole of the described locality lies. Leave the value empty if the uncertainty is unknown, cannot be estimated, or is not applicable (because there are no coordinates). The value should be greater than zero.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:PointRadiusSpatialFit" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A measure of how well the circle defined by the coordinates and uncertainty match the original spatial representation, as a ratio of the area of the circle to the area of the original spatial representation. Legal values are 0, greater than or equal to 1. A value of 1 is an exact match or 100% overlap. A value of 0 should be used if the given georeference does not completely contain the original representation. The PointRadiusSpatialFit is undefined if the original representation is a point without uncertainty and the given georeference is not that same point (without uncertainty). If both the original and the given georeference are the same point, the PointRadiusSpatialFit is 1. Detailed explanations with graphical examples can be found in the Guide to Best Practices for Georeferencing (Chapman and Wieczorek, eds. 2006) http://www.gbif.org/prog/digit/Georeferencing.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:FootprintWKT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A Well-Known Text (WKT; see http://en.wikipedia.org/wiki/Well-known_text) representation of the the shape (footprint) that defines the location of the occurrence. Example: the one-degree boundin box with opposite corners at (longitude=10, latitude=20) and (longitude=11, latitude=21) would be expressed in well-known text as POLYGON ((10 20, 11 20, 11 21, 10 21, 10 20))</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:FootprintSpatialFit" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A measure of how well the geometry expressed in the footprint match the original spatial representation, as a ratio of the area of the footprint given to the area of the original spatial representation. Legal values are 0, greater than or equal to 1. A value of 1 is an exact match or 100% overlap. A value of 0 should be used if the given georeference does not completely contain the original representation. The FootprintSpatialFit is undefined if the original representation is a point without uncertainty and the given georeference is not that same point (without uncertainty). If both the original and the given georeference are the same point, the FootprintSpatialFit is 1. Detailed explanations with graphical examples can be found in the Guide to Best Practices for Georeferencing (Chapman and Wieczorek, eds. 2006). http://www.gbif.org/prog/digit/Georeferencing</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:VerbatimCoordinates" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A text representation of the coordinate data (Latitude/ Longitude, UTM, TRS, etc.) from its original source if it cannot be separated into its component parts. Example: "470999 1234300".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:VerbatimLatitude" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A text representation of the Latitude part of the coordinate data from its original source. Example: 47d09'99"N</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:VerbatimLongitude" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A text representation of the Longitude part of the coordinate data from its original source. Example: -122.43254</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:VerbatimCoordinateSystem" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The name of the system in which the verbatim geographic coordinates were recorded. Examples: "decimal degrees", "degrees minutes seconds", "degrees decimal minutes", "UTM"</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:GeoreferenceProtocol" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A reference to the methods used for determining the coordinates and uncertainties. Example: "http://manisnet.org/GeorefGuide.html".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:GeoreferenceSources" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A list of maps, gazetteers or other resources used to georeference the locality. The content of this concept is meant to be specific enough to allow anyone in the future to use the same resource to georeference the same locality. Example: "USGS 1:24000 Florence Montana Quad".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:GeoreferenceVerificationStatus" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A categorical description of the extent to which the georeference has been verified to represent the location where the specimen or observation was collected. This element should be vocabulary-controlled. Examples: "requires verification", "verified by collector", "verified by curator".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="dwg:GeoreferenceRemarks" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Comments about the spatial description determination, explaining assumptions made in addition or opposition to the those formalized in the method referred to in GeoreferenceProtocol.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minimumDepthInMeters" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The minimum or actual depth at which the plot observation was made. Use positive values for locations below the surface. Examples: 0 (for a depth of up to 10m). 50 (for a depth between 50m and 100m).</xsd:documentation>
                    <xsd:appinfo>Is Defined By
http://rs.tdwg.org/ontology/voc/TaxonOccurrence

DarwinCore Equivalent
Core:MinimumDepthInMeters</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="maximumDepthInMeters" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The maximum or actual depth at which the plot observation was made. Use positive values for locations below the surface. Examples: 10 (for a depth of up to 10m). 100 (for a depth between 50m and 100m).</xsd:documentation>
                    <xsd:appinfo>Is Defined By
http://rs.tdwg.org/ontology/voc/TaxonOccurrence

DarwinCore Equivalent
Core:MaximumDepthInMeters</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="verbatimDepth" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A text representation of the depth in its original format on the specimen or in the collection catalogue. Example: "100 to 200 ft below sea level".</xsd:documentation>
                    <xsd:appinfo>Is Defined By
http://rs.tdwg.org/ontology/voc/TaxonOccurrence

DarwinCore Equivalent
Curatorial:VerbatimDepth</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="verbatimElevation" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A text representation of the altitude in its original format of an observed plot. Example: "1000+- meters".</xsd:documentation>
                    <xsd:appinfo>Is Defined By
http://rs.tdwg.org/ontology/voc/TaxonOccurrence

DarwinCore Equivalent
Curatorial:VerbatimElevation</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minimumElevationInMeters" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The minimum or actual elevation at which the observation of a plot was made. Use negative values for locations below sea level. Examples: 75 (for an elevation of 100 +- 25 meters). 100 (for an elevation between 100m and 200m).</xsd:documentation>
                    <xsd:appinfo>Is Defined By
http://rs.tdwg.org/ontology/voc/TaxonOccurrence

DarwinCore Equivalent
Core:MinimumElevationInMeters</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="maximumElevationInMeters" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The maximum or actual elevation at which the observation of a plot was made. Use negative values for locations below sea level. Examples: Examples: 125 (for an elevation of 100 +- 25 meters). 200 (for an elevation between 100m and 200m).</xsd:documentation>
                    <xsd:appinfo>Is Defined By
http://rs.tdwg.org/ontology/voc/TaxonOccurrence

DarwinCore Equivalent
Core:MaximumElevationInMeters</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gridCoordinateSystemName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
				Name of a projected map series or grid. For example, 
					</xsd:documentation>
                    <xsd:documentation xml:lang="de">
						Kartentyp der Rasterbezeichnung (TK25, DGK5 usw.)
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gridCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
				Map sheet or grid cell identifier. For example, H123
					</xsd:documentation>
                    <xsd:documentation xml:lang="de">
						Nummer der Topographischen Karte
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gridCellQuadrant" type="TINYINT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
				Quadrant of the grid cell.
					</xsd:documentation>
                    <xsd:documentation xml:lang="de">
						Quadrant innerhalb der Topographischen Karte
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="authorZone" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
				Zone of geographical map projection. For example, the original UTM zone reported by the author.
					</xsd:documentation>
                    <xsd:documentation xml:lang="de">
						Bezeichnung der Projektionszone
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="authorEastCoordinate" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
				East coordinate of author map projection.
					</xsd:documentation>
                    <xsd:documentation xml:lang="de">
						Ostkoordinate innerhalb der Zone (Rechtswert)
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="authorNorthCoordinate" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
				North coordinate of author map projection.
					</xsd:documentation>
                    <xsd:documentation xml:lang="de">
						Nordkoordinate innerhalb der Zone (Hochwert)
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="waterDepth" type="MeasurementType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Distance from surface to ground water. Usually recorded in meters.			</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="shoreDistance" type="MeasurementType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">For aquatic or marine vegetation, what was the closest distance to shore. Usually recorded in meters.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="relativeSpatialCoordinateType">
        <xsd:annotation>
            <xsd:documentation>Two related items (e.g., tree or plot) may have their relative positions described in geometric space using the relative position of related items with respect to a point of origin. Normally this point of origin would be an identified plot. This Type should only be used inconjunction with elements containing an origin point defined in geographic space. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="relativeX" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">The X-coordinate of the related items position in meters. The user will enter the relative position of related item with respect to the plot origin (in meters) with the x-axis defined by the plot azimuth. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relativeY" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">The Y-coordinate of the related items position in metres. The user will enter the relative position of related item with respect to the plot origin (in meters) with the y-axis defined by the plot azimuth. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relativeZ" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The Z-coordinate of the related items position in metres. The user will enter the relative position of related item with respect to the plot origin (in meters) with the z-axis defined by the plot azimuth.  </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>