vegxschema/veg-misc.xsd

<?xml version="1.0" encoding"utf-8"?>
<xsd:schema xmlns="http://iavs.org/vegX/misc-2.0.1" targetNamespace="http://iavs.org/vegX/misc-2.0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="IDType">
        <xsd:annotation>
            <xsd:documentation>Unique identifier (key) of the element.  It can be unique locally to the data set for a given data element type (e.g., plots) or a GUID in which case it can be resolved to a location on the internet where the record is stored. This identifier is used elsewhere in a dataset instance to reference this specific element when it is referred to in a repeatable way by other part of the schema. For example, a single plot entity may be the basis for numerous measurements of different types (e.g., plot observation and aggregated organism observation). Therefore the plot entity is stored in a single location within schema and referenced by this identifier rather than repeating this information throughout the dataset instance. The identifier may have a specific system and scope.</xsd:documentation>
        </xsd:annotation>
        <xsd:list itemType="xsd:string" />
    </xsd:simpleType>
    <xsd:simpleType name="SystemType">
        <xsd:annotation>
            <xsd:documentation>Identifier System</xsd:documentation>
        </xsd:annotation>
        <xsd:list itemType="xsd:string" />
    </xsd:simpleType>
    <xsd:simpleType name="ScopeType">
        <xsd:annotation>
            <xsd:documentation>The scope of the identifier.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="system" />
            <xsd:enumeration value="document" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="literatureCitationType">
        <xsd:sequence>
            <xsd:element name="citationString" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>a citation string that should be parsed to derive authors, year, title, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DOI" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">A string of the DOI uniquely identifying the document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="IDType" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique internal identifier (key) of the element. This identifier is used elsewhere in a dataset instance to reference this specific element when it is referred to in a repeatable way by other part of the schema. </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="system" type="SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="partyType">
        <xsd:annotation>
            <xsd:documentation>A party element describes a responsible party (person, organization or a position), and is typically used to name the originator of a resource or metadata document. Parties have been designed as a simplification of EML elements party. eml://ecoinformatics.org/party-2.0.1</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice maxOccurs="unbounded">
                <xsd:element name="individualName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The full name of the person being described</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="organizationName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The full name of the organization being described</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="positionName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The name of the title or position associated with the resource.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="address" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The full address information for a given responsible party entry.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="phone" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Information about the contact's telephone.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="electronicMailAddress" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The email address of the contact.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="onlineURL" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A link to associated online information, usually a web site.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="IDType" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique internal identifier (key) of the element. This identifier is used elsewhere in a dataset instance to reference this specific element when it is referred to in a repeatable way by other part of the schema. </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="system" type="SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="projectType">
        <xsd:annotation>
            <xsd:documentation>Describes the research context in which the dataset was created, including descriptions of over-all motivations and goals, funding, personnel, description of the study area etc. Sub-element definitions were taken from Ecological Markup Language (EML).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="title" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Title of the project.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="personnel" type="partyWithRoleType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Contact and role information for people involved in the research project.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="abstract" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A brief description of the aims and findings of the project.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="funding" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Funding information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="studyAreaDescription" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Description of the physical area associated with the research project, potentially including coverage, climate, geology, distrubances, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="designDescription" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Description of the design of the research project (specially overall plot placement).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relatedProjectID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A link to another project, by ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="documentCitationID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A link, by ID, to the citation of a document describing the project.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="IDType" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique internal identifier (key) of the element. This identifier is used elsewhere in a dataset instance to reference this specific element when it is referred to in a repeatable way by other part of the schema. </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="system" type="SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="relativeSpatialCoordinateType">
        <xsd:annotation>
            <xsd:documentation>Two related items (e.g., tree or plot) may have their relative positions described in geometric space using the relative position of related items with respect to a point of origin. Normally this point of origin would be an identified plot. This Type should only be used inconjunction with elements containing an origin point defined in geographic space. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="relativeX" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">The X-coordinate of the related items position in meters. The user will enter the relative position of related item with respect to the plot origin (in meters) with the x-axis defined by the plot azimuth.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relativeY" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">The Y-coordinate of the related items position in metres. The user will enter the relative position of related item with respect to the plot origin (in meters) with the y-axis defined by the plot azimuth.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relativeZ" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The Z-coordinate of the related items position in metres. The user will enter the relative position of related item with respect to the plot origin (in meters) with the z-axis defined by the plot azimuth.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="relatedItemType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An item may be related or connected in some way to other items. For example fused stems, epiphytic relationships or paired observations. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="relatedItemID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific related item. This would be the item identifer elsewhere in the schema in most cases.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="itemRelationship" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The type of relationship e.g. relationships such as fused stems, epiphytic, forked stems, epicormic stems. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="simpleUserDefinedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Simple user-defined information types stored as a name-value pair. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The name of the user defined variable</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">The value of the user-defined variable.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="methodID" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">A reference to a specific method used to measure the user defined type. The individual method is defined within the element veg:method which is a container for all methods within the dataset.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="attributeID" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Allows a measurement value to be qualified (type, units, method, etc.).</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="complexUserDefinedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Complex user-defined information types. This provides a means to extend the schema to accommodate related information that is more complex than can be accommodated with the simpleUserDefinedType.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="partyWithRoleType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Based on the the eml-party module - People/organization information and their role as related to the resource</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partyID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific party. The individual party is defined with the element veg:partys which is a container for all the parties within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="role" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Based on the the eml-party module - The role code field provides information on how a person or organization is related to a resource. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="noteType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Complex type for specifying additional comments or explanations pertaining to the element of concern</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="text" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The text of the additional comments or explanations.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="date" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date on which the note was stored in the database. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="VegBank">The type of note: Database Management, Observation Author, Database User and Internal.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partyID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to the specific individual who contributed the note.  The identity of the contributor is defined within the element veg:parties [EML] which is a container for all parties within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ClassType">
        <xsd:annotation>
            <xsd:documentation>An assessment of a qualitative value which can be embeded in a known set of categories.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A string representing a category.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="qualitativeAttributeID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Reference to a qualitative attribute (whose element 'code' should be the same as 'value'). Used to indicate that the value is one among a set of predefined classes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MeasurementType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Specifies a simple measurement of an attribute.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Webster's dictionary" xml:lang="en">The amount or extent of a specified measurement of a quantity. Usually numeric, but may be a code if the attribute is ordinal or qualitative.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attributeID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Allows a measurement value to be qualified (type, units, method, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accuracy" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.geod.nrcan.gc.ca/edu/gloss_e.php" xml:lang="en">The closeness of the estimate or measurement to its true (but unknown) value</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="upperValue" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>An upper value for an uncertain measurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lowerValue" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A lower value for an uncertain measurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="complexUserDefined" type="complexUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Complex user-defined information types. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AbioticMeasurementType">
        <xsd:annotation>
            <xsd:documentation>Abiotic measurement that extends the usual measurement type in the fact that it has an identifier and can be related to other abiotic measurements</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="MeasurementType">
                <xsd:sequence>
                    <xsd:element name="relatedAbioticMeasurement" type="relatedItemType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">An abiotic measurement may be related to a another.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="id" type="IDType" use="optional" />
                <xsd:attribute name="system" type="SystemType" use="optional" />
                <xsd:attribute name="scope" default="document" type="ScopeType" use="optional" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ObservationGroupingType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A named grouping entity that can be used to define grouping events elsewhere in the dataset. These are a set of observation records that are grouped in the data management system owing to some common characteristic.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The unique name of a specific grouping entity that is subsequently referenced by specific observations.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The grouping entity type. For example, grouping of individual organism observations for the purposes of describing a physical relationship. Recommended that a closed-list is developed and used.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="IDType" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique identifier (key) of the element.  It can be unique locally to the data set for a given data element type (e.g., a grouping entity) or a GUID in which case it can be resolved to a location on the internet where the record is stored. Read fully description elsewhere.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="system" type="SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="AttributeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The definition of a measured property. </xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="quantitative">
                <xsd:annotation>
                    <xsd:documentation>A numerical variable, either discrete or continuous may = interval and cardinal</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="methodID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>A reference to a specific method that describes the context for the quantitative attribute.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="unit" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Unit of measurement (e.g. mm, cm, square meters, number of individuals)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="precision" type="xsd:decimal" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation source="http://mdk12.org/instruction/curriculum/mathematics/glossary.shtml" xml:lang="en">The smallest place value to which the measurement is expressed (eg, if pi is represented as 3.14, then its precision is .01).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lowerLimit" type="xsd:decimal" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">potential lower limit of the measurement</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="upperLimit" type="xsd:decimal" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">potential upper limit of the measurement</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ordinal">
                <xsd:annotation>
                    <xsd:documentation source="http://www.cliffsnotes.com/WileyCDA/Section/Statistics-Glossary.id-305499,articleId-30041.html" xml:lang="en">A scale using numbers or symbols to rank order; its intervals may be specified or not.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="methodID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>A reference to a method that describes the context for the ordinal code.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="code" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Ordinal class code (e.g. a value like "+" or "1" in Braun-Blanquet cover scale)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="definition" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Longer description of the definition of the ordinal class. For example, "&gt;1-5 % percent cover" for code "1" in an ordinal cover scale.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lowerLimit" type="xsd:decimal" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Lower limit of the ordinal class in an associated quantitative scale (e.g. 10% cover in a cover class)
					</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="upperLimit" type="xsd:decimal" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Upper limit of the ordinal class in an associated quantitative scale (e.g. 25% cover in a cover class)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="order" type="xsd:decimal" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Explicit order in the sequence of ordinal values to which this code belongs.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="qualitative">
                <xsd:annotation>
                    <xsd:documentation>Unordered categorized variable = nominal</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="methodID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>A reference to a specific method. The individual method is defined within the element veg:method which is a container for all methods within the dataset.	</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="code" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The label of the category used for measurement values.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="definition" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Longer description of the definition of the category.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
        <xsd:attribute name="id" type="IDType" use="required" />
        <xsd:attribute name="system" type="SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="MethodType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A method followed in the creation of the dataset or measurement of a parameter. May link to a protocol and literature reference.A protocol may have many method or steps.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Name associated with the method. For example, that signified by an ordinal value method such as cover class.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="NVS" xml:lang="en">A full description of the type of method e.g., research/project or measured parameter or basal area of all stems &gt; 10 cm dbh or counts of all saplings &gt;1.35 m tall and less than 2 cm dbh.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="subject" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The description of an attribute class for comparative purposes. If two methods measure the same attribute (e.g. plant cover), but with different degrees of precision and accuracy, setting 'subject' to 'plant cover' allows combining their values. All attributes pointing to the same method are assumed to apply to the same subject.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="protocolID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a protocol.  The individual protocol is defined within the element veg:protocols which is a container for all protocols within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="citationID" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">A reference to a specific citation of literature.  The literature to which the citation pertains is defined within the element veg:literature [EML] which is a container for all the literature within the dataset.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="citationString" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>A citation string to be used when the full schema for literature citations is to be avoided</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="id" type="IDType" use="required" />
        <xsd:attribute name="system" type="SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="ProtocolType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An agreed protocol that is being followed in the creation of the dataset. May have many methods or steps.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Name of the protocol.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partyWithRole" type="partyWithRoleType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The party involved in describing the protocol.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="citationID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific citation of literature.  The literature to which the citation pertains is defined within the element veg:literature [EML] which is a container for all the literature within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="IDType" use="required" />
        <xsd:attribute name="system" type="SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="ScopeType" use="optional" />
    </xsd:complexType>
</xsd:schema>
