vegxschema/veg-community.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - Developer Bundle Edition (Trial) 15.1.17.7979 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="http://iavs.org/vegX/misc-2.0.0" xmlns="http://iavs.org/vegX/community-2.0.0" targetNamespace="http://iavs.org/vegX/community-2.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import xmlns:xsd="http://www.w3.org/2001/XMLSchema" schemaLocation="veg-misc.xsd" namespace="http://iavs.org/vegX/misc-2.0.0" />
    <xs:complexType name="CommunityConceptType">
        <xs:annotation>
            <xs:documentation>A name and some kind of definition of a community type, preferably a community name as used in a reference.</xs:documentation>
        </xs:annotation>
        <xs:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A textual label for a community type. A community type is an abstract grouping of organisms that tend to co-occur on the landscape due to shared ecological requirements or preferences. May be designated by syntaxon or physiognomic types.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="citationID" type="xsd:string" minOccurs="0" />
            <xsd:element name="rank" type="xsd:string" minOccurs="0" />
            <xsd:element name="commonName" type="xsd:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="id" type="ns0:IDType" use="required" />
        <xs:attribute xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="system" type="ns0:SystemType" use="optional" />
        <xs:attribute xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="scope" default="document" type="ns0:ScopeType" use="optional" />
    </xs:complexType>
    <xs:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommunityDeterminationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An identification applying one or more community concepts to a PlotObservation. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotObservationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific plotObservation. The individual plotObservation is defined within the element veg:plotObservations which is a container for all plotObservations within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stratumObservationID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific stratumObservation. This element may be used to specify that the community determination applies to a specific stratum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="determinationDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="NVS" xml:lang="en">
The start date of this specific community determination. Recorded in ISO 8601 date format: yyyy-mm-dd.
					</xsd:documentation>
                    <xsd:documentation xml:lang="de">
						Optionales Datumsfeld bei Erfassung über längeren Zeitraum
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="determinationPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A link to the community determination party by ID</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="determinationNote" type="ns0:noteType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="communityRelationshipAssertion" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A container for applying one or more communityConcepts to a plotObservation</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="communityConceptID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">A link to a community concept by ID. </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="fit" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation source="VegBank" xml:lang="en">Indicates the degree of fit with the community concept being assigned. Values derive from Gopal, S., and Woodcock, C. (1994), Theory and methods for accuracy assessment of thematic maps using fuzzy sets. Photogrammetric Engineering and Remote Sensing 60(2):181-188. </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="confidence" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation source="VegBank" xml:lang="en">Indicates the degree of confidence of the interpreter(s) in the interpretation made. This can reflect the level of familiarity with the classification or the sufficiency of information about the plot (e.g., High, Moderate, Low). </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="accordingTo" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Information about the authorship of the asserted community concept.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="ns0:IDType" use="required" />
        <xsd:attribute name="system" type="ns0:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="ns0:ScopeType" use="optional" />
    </xs:complexType>
</xs:schema>