vegxschema/veg-organism.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid Studio 2017 - XML Editor Edition (Education) 15.1.17.7979 (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:misc="http://iavs.org/vegX/misc-2.0.0" xmlns="http://iavs.org/vegX/organism-2.0.0" targetNamespace="http://iavs.org/vegX/organism-2.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import schemaLocation="veg-misc.xsd" namespace="http://iavs.org/vegX/misc-2.0.0" />
    <xsd:complexType name="IndividualOrganismType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An identified organism recorded during 1 or more individual organism observation events. The individual may have an identification label (e.g. tree tag number).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific plot by the plot ID.	</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="individualOrganismLabel" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A label that is associated with an individual (e.g. a numerical tree tag)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taxonNameUsageConceptID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific datasetNameUsageConcept representing a taxon occurrence. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="birthDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Date of birth recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="relatedIndividual" type="misc:relatedItemType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">An item may be related or connected in some way to other items. For example fused stems, epiphytic relationships or mapped individuals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="location" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Information regarding the location of an organism on the earth's surface (absolute or relative to the plot origin or relativ to a relatedIndividual</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="horizontalCoordinates" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Horizontal location of an item on the Earth's surface (absolue or relative to a plot origin or relatedIndividual). To avoid ambiguity there should be only one coordinate pair for an individuum per measurement. However, there may be multiple measurements by different parties or at different times that can be accommodated in the scheme.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="coordinates">
                                        <xsd:annotation>
                                            <xsd:documentation>Values specifying the coordinates of an item along with information about units and methods</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="valueX" type="xsd:string">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Value for X coordinates (absolute or in relation to plot origin or relatedIndividuum)</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="valueY" type="xsd:string">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Value for Y coordinates (absolute or in relation to plot origin or relatedIndividuum)</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="attributeID" type="xsd:string">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Specifying units and methods. Typical units are: Decimal degrees like 12.993343 S, or -12.993343 or UTM coordinates like 11N 345567. Methods used could be for example the use of global navigation satellite systems or an estimate based on a map. In case or relative positions this should give the required information about the point of reference, units and methods. Note that there is a designated field for the accuracy.</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="spatialReference" type="xsd:string">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Reference system for the coordinates. In case of absolute coordinates ideally a Proj.4 string or EPSG code (see http://spatialreference.org/). Could also be an unambiguous name like 'NAD27(CGQ77) / UTM zone 21N' instead of EPSG:2035. The spatial reference typically used by satellite navigation systems today is EPSG:4326.</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="locationAccuracy" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Measure or estimate of accuracy for the coordinates</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="locationDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>The date when the coordinates have been assessed or measured. This allows for multiple measurements.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="locationPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                                    <xsd:element name="locationSources" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Optionally, maps, gazetteers or other resources used to georeference the locality. The content of this concept is meant to be specific enough to allow anyone in the future to use the same resource to georeference the same locality. Example: "USGS 1:24000 Florence Montana Quad".</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="locationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="verticalCoordinates" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Elevation of the item in respect to some vertical datum (such as the mean sea level or an ellipsoid) or in relation to the plot origin or to a relatedIndividual.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="elevation">
                                        <xsd:annotation>
                                            <xsd:documentation>Value specifying the elevation of the item in respect to some vertical datum (such as the mean sea level or an elliposid) or relative to the plot origin or relatedIndividual.</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="value" type="xsd:decimal">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Elevation in meters</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="attributeID" type="xsd:string">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Specifying units and methods. Typically the measures are in meters and relate to the mean sea level or to base heights of an ellipsoid of the Earth. Typical methods are barometric measurements or the interpretation of a map (element elevationSources).</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="elevationSources" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Maps or other resources used to determin the elevation.</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="elevationAccuracy" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Measure or estimate of accuracy for the elevation</xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="elevationInPlot" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Point of reference in the plot. This could be the uppermost or lowest point or an average or the plot origin as specified in geometry.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="elevationDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>The date when the elevation has been assessed or measured. This allows for multiple measurements.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="elevationPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Party who took the measurement or assessed the value</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="elevationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Any notes relating to this elevation value</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="markers" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Information about markers (like tags) that help locating the organism.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="authorLocation" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Descriptive note about the original location described by author.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="locationNarrative" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation source="VegBank" xml:lang="en">Text description that provides information useful for relocation.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="quadrant" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>One out of four quadrats such as those used in Point-Centred Quarter Method (PCQM)</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="value" type="xsd:string" minOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>Value for the quadrant</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="attributeID" type="xsd:string" minOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>Division details like orientation of the quadrants</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="directionFromPlotOrigin" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Direction of the item as seen from the plot origin</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="value" type="xsd:decimal" minOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>Value for the direction, typically expressed as an angle relative to north</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="attributeID" type="xsd:string" minOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>Specifying units and methods</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="distanceFromOrigin" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Distance from the plot origin</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="value" type="xsd:decimal" minOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>Value for the distance from the plot origin</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="attributeID" type="xsd:string" minOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation>Specifying units and methods</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="individualOrganismNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">For specifying additional comments or explanations pertaining to the individual organism.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="OrganismNameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="misc:IDType" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Unique internal identifier (key) of the element. This identifier is used elsewhere in a dataset instance to reference this specific element when it is referred to in a repeatable way by other part of the schema. </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
                <xsd:attribute name="system" type="misc:SystemType" use="optional" />
                <xsd:attribute name="taxonName" type="xsd:boolean" use="required">
                    <xsd:annotation>
                        <xsd:documentation>A flag to identify that the organism name is a taxon name (i.e. a name according to a nomenclature code)</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TaxonConceptType">
        <xsd:annotation>
            <xsd:documentation>Representation of a taxon concept (i.e., an organism name and the organism description given by an author in a publication). A taxon concept may be referenced in an organism identity as the original concept used by the author of the data set, or it can be referenced in taxonDetermination allowing an organism identity to be mapped to a taxonomic concept by third parties after re-examination.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organismNameID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A link to a specific organism name by ID. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accordingToCitationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A link to a bibliographic reference by ID where the taxon concept is described. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique internal identifier (key) of the element. This identifier is used elsewhere in a dataset instance to reference this specific element when it is referred to in a repeatable way by other part of the schema. </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="OrganismIdentityType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The identity of an organism (or a set of organisms) occurring within the dataset. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="originalOrganismNameID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A link, by ID, to an organism name (e.g. normally a taxon name, but not necessarily including the authority, or even field names, morphospecies, ...) that the author of the dataset originally used to refer to an organism observed within the plot. The taxon names used as label the organism identity should not contain spelling errors, but they may not be the accepted name according to current nomenclature codes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="originalIdentificationPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A link to a party involved in the original organism identification (normally the author of the data set), by ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="originalIdentificationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Additional comments or explanations pertaining to the original identification of the organism.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="voucher" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Herbarium accession number for any archived voucher specimens</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="originalIdentificationConcept" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A container of the taxon concept (i.e. taxon name + reference explaining the concept) originally associated to the organism identity. The taxon concept may have been specified by the author of the data set, or it may be asserted by a third party based on information such as date of observation or geographic location.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="taxonConceptID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>A link to the taxon concept stated by the author, or as asserted by a third party based on information such as the date of the observation, geographic location, etc.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="conceptAssertionDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Date of the taxon concept assertion. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="conceptAssertionPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>A link, by ID, to a party involved in the assertion of the original taxon concept.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="conceptAssertionNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Additional comments or explanations pertaining to the assertion of the original taxon concept.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="preferredTaxonNomenclature" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The interpretation of the nomenclature that should be applied to organism identity, made after the observation event by the author of the data set or a third party. The sub-element preferredTaxonNameID points to an organism name that is the accepted name according to the current nomenclature.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="preferredTaxonNameID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>A link to a scientific taxon name (i.e. an organism name whose attribute 'taxonName' is true) accepted to label the organism identity appropriately, as stated by the author of the data set or a third party responsible for its nomenclature.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="interpretationDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Date for the last nomenclature revision applied to this organism identity. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="interpretationSource" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="EN">A string describing the source for the last nomenclature interpretation applied to this organism identity (i.e. the Plant List).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="interpretationCitationID" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="EN">A link to the publication where nomenclature interpretation is described.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="interpretationPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>A link to a party who undertook the nomenclarure revision.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="interpretationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Additional comments or explanations pertaining to the nomenclature interpretation.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="TaxonDeterminationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A specific relationship or assertion between two name concepts which are not part of the original definition of either of these concepts; possibly by a third party. Within vegX this typically allows for an organism identity, to be linked to a specific taxa treatment (taxon concept), according to a third party. Similar to a tcs TaxonRelationshipAssertion.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organismIdentityID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific taxonNameUsageConcept through the NameUsageConcept id attribute. The individual NameUsageConcept is defined within the element veg:datasetNameUsageConcepts which is a container for all name usage concepts within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="determinationDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The determination date for the organism or taxon observation. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element xmlns:q2="http://www.bfn.de/misc-1.0.1" name="determinationPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The party that made the determination that applies to this dataset. This is not the same as the authorship of the asserted relationship. See accordingTo.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element xmlns:q1="http://www.bfn.de/misc-1.0.1" name="determinationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="taxonRelationshipAssertion" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A specific taxonomic or nomenclatural assertion record.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="assertion">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">A taxonomic or nomenclatural assertion to either a published nomenclatural name (taxon name) or a specific taxa treatment (taxon concept), according to a third party. </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:choice>
                                    <xsd:element name="taxonNameID" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>A reference to a specific Taxon Name. The name is defined within the element veg:taxonName which is a container for all Taxon Names within a dataset.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="taxonConceptID" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>A reference to a specific Taxon Concept. The concept is defined within the element veg:taxonConcept which is a container for all Taxon Concepts within a dataset.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="fit" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Indicates the degree of fit with the concept being assigned.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="confidence" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Indicates the degree of confidence of the interpreter(s) in the interpretation made. This can reflect the level of familiarity with the classification or the sufficiency of information about the plot (e.g., High, Moderate, Low). </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element xmlns:q3="http://www.tdwg.org/schemas/tcs/1.01" name="accordingTo" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Information about the authorship of the asserted relationship. </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
</xsd:schema>