vegxschema/veg-plotobservation.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid Studio 2017 - Developer Bundle Edition (Trial) 15.1.17.7979 (https://www.liquid-technologies.com)-->
<xsd:schema xmlns:misc="http://iavs.org/vegX/misc-2.0.0" xmlns="http://iavs.org/vegX/plotobservation-2.0.0" targetNamespace="http://iavs.org/vegX/plotobservation-2.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import schemaLocation="veg-misc.xsd" namespace="http://iavs.org/vegX/misc-2.0.0" />
    <xsd:complexType name="PlotObservationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Observations made on a single plot and during a single date-time period. This allows all time dependent parameters to be grouped.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific plot by the plot ID.			</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="obsStartDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation source="NVS" xml:lang="en">The start date of this specific observation of the plot. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="obsEndDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="NVS" xml:lang="en">The end date of this specific observation of the plot. Recorded in ISO 8601 date format: yyyy-mm-dd.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plotObservationUniqueIdentifier" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Plot observation identifier that is unique across the dataset and derived from the data source, and preferably globally unique.  A GUID (globally unique identifier) would be ideal for this purpose, such as LSID (Life Science Identifier).  See http://www.tdwg.org/activities/online-services/lsid-authority-ids/.	</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="projectID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific 'project' by ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="communityObservationID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A link to a specific community observation by ID. Note that the relationship is one-to-one. Only one community observation (with potentially many measurements inside) is allowed for each plot observation. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="siteObservationID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A link to a specific site observation by ID. Note that the relationship is one-to-one. Only one siteObservation (with potentially many measurements inside) is allowed for each plot observation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="previousPlotObservationID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A link to a previous plot observation, by ID. Not normally necessary as observations can be ordered via obsStartDate.
</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationPartyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A link to a party that participated in the observation of the plot, by ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="license" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>License linked to this plot observation.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="licenceName" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>License name like Public Domain, BY, BY-NC, BY-NC-SA, all rights reserved</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="attribution" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>TO BE DONE</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="partyID" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Reference to a party holding the license.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="taxonomicQuality" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Subjective assessment of the taxonomic quality on the plot.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="qualityAssessment" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Subjective assessment of the taxonomic quality on the plot (e.g., Highest, High, High but incomplete, Moderate, Moderate and incomplete, Low, Very incomplete, absent). 		</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="assessmentType" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Type that is being assessed, e.g. bryophytes or lichens.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="qualityAssessmentMethodID" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>A reference to a specific method used to assess taxonomic quality. Defined within the element veg:method which is a container for all methods within the dataset.	</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="observationNarrative" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">Additional unstructured observations useful for understanding the ecological attributes and significance of the plot observations. 				</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationConditions" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Conditions at the time of observation.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="temperature" type="misc:MeasurementType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Temperature during observation.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="weather" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Descriptive assessment of weather conditions during the observation.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="referencePublication" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Reference to an original publication and additionally a table or section within a publication.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="citationID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">A reference to a specific citation of literature by ID.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="referenceTable" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Reference to a specific table in the cited publication.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="referencePlot" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Plot number in original publication.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="referenceText" type="xsd:anyType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Reference to a section within a publication. Type unspecified. </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="observationGroupingID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific observation grouping by ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Additional comments or explanations pertaining to the observation event.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique internal identifier (key) of the element. This identifier is used elsewhere in a dataset instance to reference this specific element when it is referred to in a repeatable way by other part of the schema. </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="IndividualOrganismObservationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An observation applying to one occurrence of an organism (or part of an organism). </xsd:documentation>
            <xsd:documentation xml:lang="de" />
            <xsd:appinfo />
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotObservationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific plotObservation.  The individual plotObservation is defined within the element veg:plotObservation which is a container for all plotObservations within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="individualOrganismID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific individualOrganism.  The particular individualOrganism is defined with the element veg:individualOrganisms which is a container for all individualOrganisms within the dataset</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stratumObservationID" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific stratum observation that this individual was measured in on the plot. The individual stratum observations are defined with the element veg:stratumObservation which is a container for all the stratum observations in the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heightMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Measurement of the maximum height reached by the observed individual.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="diameterMeasurement" type="misc:MeasurementType">
                    <xsd:annotation>
                        <xsd:documentation>Diameter of the stem without explicit measurement of base distance (may be defined in the measurement method definition)</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="diameterBaseDistanceMeasurement">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">A container for diameter measurements at a given distance along the stem from the ground.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="diameter" type="misc:MeasurementType">
                                <xsd:annotation>
                                    <xsd:documentation>Diameter of the stem at the point of measurement (baseDistance)</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="baseDistance" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">The distance along the stem from the ground (usually in meters) at which diameter was measured</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="individualOrganismMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A measurement applying to the observed individual. This includes qualitative, ordinal or quantitative assessments of form, health, dimensions of components, ...</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="individualOrganismMultipleMeasurement" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A n-tuple of a related measurements (e.g. paired data such as length, width and height to calculate volume). The definition of the relationship type is left open to the user, but is intended to allow specifying a set of measurements that have to be considered together.  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Name of the quantity (e.g. volume) being measured via multiple measurements (e.g. length, width, height).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="measurement" type="misc:MeasurementType" minOccurs="2" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="observationGroupingID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific observationGrouping.  The individual observationGrouping is defined within the element veg:observationGrouping which is a container for all observationGroupings within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Additional comments or explanations regarding this observation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Simple user-defined information types stored as a name-value pair. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Complex user-defined information types. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="AggregateOrganismObservationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An observation applying to all occurrences of an organism based on an aggregation factor. </xsd:documentation>
            <xsd:documentation xml:lang="de" />
            <xsd:appinfo />
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotObservationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A link to a specific plot observation by ID. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="organismIdentityID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A link to a specific organism identity  by ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aggregateOrganismMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A measurement for a aggregate organism value (e.g. plant cover of a taxon). Values can be further defined uppervalue, accuracy etc. Many measurements (e.g. counts, cover, basal area...) can be added to the same aggregate organism observation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="heightMeasurement" type="misc:MeasurementType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional height at which the aggregated observation was made, e.g. in meters. It applies to all aggregate measurements included in this aggregateOrganismObservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stratumObservationID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific stratumObservation by ID. It applies to all aggregate measurements included in this aggregateOrganismObservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationGroupingID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific observationGrouping by ID.  </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Additional comments or explanations regarding this observation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="optional" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="StratumObservationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A container for observations applying to a stratum.</xsd:documentation>
            <xsd:documentation xml:lang="de" />
            <xsd:appinfo />
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stratumID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific stratum. The individual stratum is defined within the element veg:strata which is a container for all strata within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plotObservationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific plotObservation. The individual plotObservation is defined within the element veg:plotObservations which is a container for all plotObservations within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lowerLimitMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">A measurement of the lower limit (i.e. height) of the stratum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="upperLimitMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">A measurement of the upper limit (i.e. height) of the stratum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stratumMeasurement" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A measurement (e.g. plant cover, or individual count) made in the stratum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationGroupingID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A reference to a specific observationGrouping.  </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Additional comments or explanations regarding this observation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="CommunityObservationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The abiotic measurements made on a single plot during a single date-time period. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotObservationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific plotObservation.  The individual plotObservation is defined within the element veg:plotObservation which is a container for all the plotObservations within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="successionalType" type="misc:ClassType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">Description of the assumed successional status of the plot. This description is of necessity highly subjective. 					</xsd:documentation>
                    <xsd:documentation xml:lang="de">
						Stadium der zeitlichen Vegetationsentwicklung
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="standAge" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="standValue" type="misc:MeasurementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The value (e.g. number of individuals, basal area) given to the observation in the stand</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationGroupingID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific observationGrouping.  The individual observationGrouping is defined within the element veg:observationGrouping which is a container for all observation groupings within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Simple user-defined information types, relevant to the abioticObservation stored as a name-value pair. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Complex user-defined information types that pertain to the abioticObservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="SiteObservationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A container for all the site (i.e. soil, climate, landuse, habitat, ...) measurements made on a single plot during a single date-time period. It relates to plotObservation in a one-to-one relationship. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="plotObservationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific plotObservation. Note that the relationship is in fact be one-to-one. Only one site observation (with multiple measurements inside) is allowed for each plotObservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soilMeasurement" type="misc:AbioticMeasurementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A measurement of a soil attribute (soil chemistry, soil texture, structure, ...).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="climateMeasurement" type="misc:AbioticMeasurementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A measurement of a climate attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="waterBodyMeasurement" type="misc:AbioticMeasurementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A measurement of an attributes of a water body within the plot (e.g. water level, water chemistry, etc.). Not for soil water, which should be included in soilMeasurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soilType" type="misc:ClassType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A specific soil type, applying to this plot during the plot observation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="humusType" type="misc:ClassType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A specific humus type, applying to this plot during the plot observation. 		</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="climateType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A specific climate type, applying to this plot during the plot observation.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="schema" type="xsd:string" minOccurs="0" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hydrologicRegimeType" type="misc:ClassType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation source="VegBank, Bfn" xml:lang="en">Reflection of frequency and duration of water level variations, applying to this plot during the plot observation.					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="legalProtection" type="misc:ClassType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Legal protection status of the plot during the plot observation. Recommended that this is from a closed list of legal protection status types.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="landuse" type="misc:ClassType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A specific land use type, for example pasture, applying to this plot during the plot observation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="habitat" type="misc:ClassType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A specific habitat type, applying to this plot during the plot observation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationGroupingID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to a specific observationGrouping.  The individual observationGrouping is defined within the element veg:observationGrouping which is a container for all observation groupings within the dataset.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="observationNote" type="misc:noteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Additional comments or explanations regarding this observation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Simple user-defined information types, relevant to the abioticObservation stored as a name-value pair. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Complex user-defined information types that pertain to the abioticObservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="SurfaceCoverObservationType">
        <xsd:sequence>
            <xsd:element name="plotObservatioID" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="surfaceCoverID" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="surfaceCover" type="misc:MeasurementType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="VegBank" xml:lang="en">Percent of surface covered for different surface categories, e.g. green foliage, litter, water, exposed bedrock, bare soil, gravel etc.			</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="misc:IDType" use="required" />
        <xsd:attribute name="system" type="misc:SystemType" use="optional" />
        <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional" />
    </xsd:complexType>
</xsd:schema>