vegxschema/veg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:misc="http://iavs.org/vegX/misc-2.0.1" xmlns:obs="http://iavs.org/vegX/plotobservation-2.0.1" xmlns:plot="http://iavs.org/vegX/plot-2.0.1" xmlns:org="http://iavs.org/vegX/organism-2.0.1" xmlns:comm="http://iavs.org/vegX/community-2.0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import schemaLocation="veg-plot.xsd" namespace="http://iavs.org/vegX/plot-2.0.1" />
    <xsd:import schemaLocation="veg-plotobservation.xsd" namespace="http://iavs.org/vegX/plotobservation-2.0.1" />
    <xsd:import schemaLocation="veg-organism.xsd" namespace="http://iavs.org/vegX/organism-2.0.1" />
    <xsd:import schemaLocation="veg-community.xsd" namespace="http://iavs.org/vegX/community-2.0.1" />
    <xsd:import schemaLocation="veg-misc.xsd" namespace="http://iavs.org/vegX/misc-2.0.1" />
    <xsd:include schemaLocation="veg-userdefined.xsd" />
    <xsd:annotation>
        <xsd:documentation>W3C-Schema Proposal for an International Exchange Standard for Vegetation Data. Author: IAVS Ecoinformatics Working Group Version: 2.0.1</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="vegX">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="parties" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for eml-party types. The eml-party module describes a responsible party (person or organization).</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="party" type="misc:partyType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation source="EML" xml:lang="en">The eml-party module describes a responsible party (person or organization), and is typically used to name the originator of a resource or metadata document.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="literatureCitations" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container literature citations. </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="literatureCitation" type="misc:literatureCitationType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation source="eml" xml:lang="en">Provides information about the literature citation. Basically a citation string that should be parsed to derive authors, year, title, etc. DOI may be also specified to facilitate the identification of the document</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="methods" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for the methods followed in the creation of the datasets.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="method" type="misc:MethodType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">A specific method definition followed in the creation of the dataset. Each method links to a protocol and literature citation reference. A protocol may have many method or steps.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="attributes" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for the definitions of measured properties.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="attribute" type="misc:AttributeType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">A specific definition of a measured property. An attribute has to be one of three types: qualitative (unordered categorical variable, i.e. nominal), ordinal (ordered list of values) or quantitative (a numerical variable, either discrete or continuous</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="strata" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for the definitions of strata, following a specific definition method.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="stratum" type="plot:StratumType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">The specific definition of a stratum referred to by observations in the dataset. A stratum usually belongs to a ordered list that together are the set of strata definitions in use in a specific dataset. It contains the stratum name (e.g. tree layer) as well as an identification code. It may also contain an indication of a position in an ordered sequence of strata.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="surfaceTypes" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>A container for surface types, following a specific definition method.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="surfaceType" type="plot:SurfaceTypeType" minOccurs="1" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>The definition of a surface type, not the observation of cover on them.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="organismNames" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for all organism nomenclatural units defined for use by a dataset. </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="organismName" type="org:OrganismNameType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>The name of an organism used in the data set. This will normally be a nomenclatural unit of any rank (order, family, genus, species, subspecies, etc.). If it is a formal scientific name (not necessarily including authority) then the attribute 'taxonName' should be set to true. However, the organism name can be a morphospecies, a field name... cases in which the attribute 'taxonName' should be set to false.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="taxonConcepts" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for all taxon concepts defined for use by a dataset.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="taxonConcept" type="org:TaxonConceptType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>Representation of a taxon concept (i.e., an organism name and the organism description given by an author in a publication). A taxon concept may be referenced in an organism identity as the original concept used by the author of the data set, or it can be referenced in taxonDetermination allowing an organism identity to be mapped to a taxonomic concept by third parties after re-examination.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="taxonDeterminations" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for relationships or assertions between two concepts.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="taxonDetermination" type="org:TaxonDeterminationType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">A specific relationship or assertion between two name concepts which are not part of the original definition of either of these concepts; possibly by a third party. Within vegX this typically allows for an organism identity, to be linked to a specific taxa treatment (taxon concept), according to a third party. Similar to a tcs TaxonRelationshipAssertion.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="organismIdentities" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for organism identities used within the dataset.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="organismIdentity" type="org:OrganismIdentityType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>The identity of an organism (or a set of organisms) occurring within the dataset. </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="communityConcepts" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>A container for community concepts</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="communityConcept" type="comm:CommunityConceptType" minOccurs="1" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="EN">A name and some kind of definition of a community type, preferably a community name as used in a reference.v</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="communityDeterminations" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for identifications that apply one or more CommunityConcepts to a PlotObservation by a Party.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="communityDetermination" type="comm:CommunityDeterminationType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">An identification applying one or more CommunityConcepts to a PlotObservation by a Party.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="projects" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for projects.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="project" type="misc:projectType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation source="EML" xml:lang="en">Describes the research context in which the dataset was created, including descriptions of over-all motivations and goals, funding, personnel, description of the study area etc. Sub-element definitions were taken from Ecological Markup Language (EML).</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="plots" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for a sampling locations (plots).</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="plot" type="plot:PlotType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">A plot is a sampling location, represented as one or more points, lines, polygons, or volumes, and is the basis for experimentation or measurement. Its properties are assumed to be constant over time. A point within the plot may be used as center for relative coordinates, which are required to be Cartesian. Plots may have no explicit bounds, and may refer to an area of inference. A plot may be related to other plots in order to express parent-child, contiguity, or other type of links.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="individualOrganisms" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for all identified organisms recorded within the dataset.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="individualOrganism" type="org:IndividualOrganismType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">An identified organism recorded during 1 or more individual organism observation events. Individuals may have an identification label (e.g. tree tag number).</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="plotObservations" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for a specific type of observation grouping that groups observations taken on a single plot and during a single date-time period.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="plotObservation" type="obs:PlotObservationType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">A specific observation grouping that groups observations taken on a single plot and during a single date-time period.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="individualOrganismObservations" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for measurements/observations applying to one occurrence of an organism.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="individualOrganismObservation" type="obs:IndividualOrganismObservationType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">An element individualOrganismObservation is an observation applying to one occurrence of an organism (or part of an organism). It is a container for measurements made on the organism (e.g. diameter, height, crown dimensions, biomass, growth form, number of stems). An individualOrganismObservation contains a reference to a unique plotObservation and to an individualOrganism. Optionally, the individualOrganismObservation may also link to a stratumObservation. </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="aggregateOrganismObservations" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for all observation applying to all occurrences of an organism based on an aggregation factor.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="aggregateOrganismObservation" type="obs:AggregateOrganismObservationType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">An observation applying to all occurrences of an organism based on an aggregation factor. It contains an AggregateValue, which is an assessment of the overall occurrence of an organism in a Plot (e.g. number of stems, percentage cover, total biomass, basal area). An AggregateOrganismObservation contains a link to a taxonOccurrence, where all the taxon identification information is contained. It also contains a reference to a single PlotObservation. Most of the remaining contextual information concerning the observation (like date-time period, observer, methods, protocol, projects _) is specified in the related PlotObservation. Optionally, the AggregateOrganismObservation may link to a StratumObservation. Additional grouping criteria may be specified through the reference to one or more ObservationGroupings. Finally, it may also have simple and/or complex user-defined elements.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="stratumObservations" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for observations applying to a stratum in a single plot during a single date-time period.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="stratumObservation" type="obs:StratumObservationType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">A specific observation applying to a stratum in a single plot during a single date-time period. Each stratum measurement may be referenced by observations of taxa within a plot. For example, abundance estimates of a taxa on a plot within a specific stratum. Typically, it contains the lower and upper vertical bounds of the stratum and an assessment of cover. A StratumObservation always contains a reference to a PlotObservation, where contextual information lies (plot, project, parties, date-time period). It also contains a reference to a Stratum, which contains its definition.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="communityObservations" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>A container for community observations</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="communityObservation" type="obs:CommunityObservationType" minOccurs="1" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>A container for measurements that apply to the entire plant community and made on a single plot during a single date-time period. </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="surfaceCoverObservations" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="surfaceCoverObservation" type="obs:SurfaceCoverObservationType" minOccurs="1" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="siteObservations" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="siteObservation" type="obs:SiteObservationType" minOccurs="1" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="observationGroupings" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for a set of observation records, of any kind, that are grouped.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="observationGrouping" type="misc:ObservationGroupingType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">A specific grouping of observation records, of any kind, that are grouped in the data management system owing to some common characteristic.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="protocols" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>A container for groups of methods related by common action.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="protocol" type="misc:ProtocolType" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">A specific grouping of methods related by common action.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="note" type="misc:noteType" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="simpleUserDefined" type="misc:simpleUserDefinedType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation />
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="complexUserDefined" type="misc:complexUserDefinedType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attribute name="id" type="misc:IDType" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier (key) of the element.  It can be unique locally to the data set for a given data element type (e.g., plots) or a GUID in which case it can be resolved to a location on the internet where the record is stored. This identifier is used elsewhere in a dataset instance to reference this specific element when it is referred to in a repeatable way by other part of the schema. For example, a single plot entity may be the basis for numerous measurements of different types (e.g., plot observation and aggregated organism observation). Therefore the plot entity is stored in a single location within schema and referenced by this identifier rather than repeating this information throughout the dataset instance. The identifier may have a specific system and scope.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="system" type="misc:SystemType" use="optional" />
            <xsd:attribute name="scope" default="document" type="misc:ScopeType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>